openapi: 3.1.0
info:
  title: Aramo Common API
  version: 0.1.0
  description: |
    Universal endpoints used by all external consumers
    (ATS, Portal, Ingestion adapters).

    PR-2 introduces the first endpoint (POST /consent/grant) and the
    locked nested error envelope with a closed 6-code subset of the
    locked 36-code registry. PR-3 adds POST /consent/revoke as the
    second endpoint and defines the canonical revoke contract per
    Group 2 §2.7. Future PRs extend the path set; new error codes
    require Architect-reviewed PR.

servers:
  - url: https://api.aramo.ai/v1
  - url: https://staging-api.aramo.ai/v1

tags:
  - name: Consent
    description: |
      Consent ledger endpoints. The consent module is the runtime
      enforcement point for Charter refusals R4 (no consent inference
      from behavior), R6 (no acting on stale consent), R11 and R13
      (consent integrity over engagement velocity).

security:
  - BearerAuth: []
  - CookieAccessAuth: []

paths:
  /consent/grant:
    post:
      operationId: grantConsent
      tags: [Consent]
      summary: Record a consent grant event
      description: |
        Append-only write to the TalentConsentEvent ledger. The action
        is set server-side to "granted"; the request body does not
        accept a writable action field. Idempotent per the
        program-wide Idempotency-Key precedent (PR-2 #7): same
        Idempotency-Key + same body returns the original response;
        same key + different body returns 409.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: |
            Required per program-wide idempotency precedent. Replays
            return the original response. Same key with a different
            request hash returns 409 IDEMPOTENCY_KEY_CONFLICT.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: |
            Optional. Generated server-side as UUID v7 if absent. Echoed
            on outgoing responses and threaded into error envelopes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentGrantRequest'
      responses:
        '201':
          description: Consent event recorded
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentGrantResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/revoke:
    post:
      operationId: revokeConsent
      tags: [Consent]
      summary: Record a consent revocation event
      description: |
        Append-only write to the TalentConsentEvent ledger. The
        action is set server-side to "revoked"; the request body
        does not accept a writable action field. Inside the same
        transaction, the server performs a single-event lookup for
        the most recent prior grant event by (tenant_id, talent_id,
        scope) and records its id as `revoked_event_id` in the
        response, audit, and outbox payloads. If no prior grant
        exists, `revoked_event_id` is null (revoke without grant is
        allowed).

        Audit payload follows Group 2 §2.7 canonical structure:
        `revoked_event_id`, `in_flight_operations_halted: []`
        (empty until the engagement-halt worker exists),
        `propagation_completed_at: null` (deferred until propagation
        is implemented).

        Idempotent per the program-wide Idempotency-Key precedent:
        same key + same body returns the original response; same
        key + different body returns 409.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentRevokeRequest'
      responses:
        '201':
          description: Consent revocation event recorded
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentRevokeResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/check:
    post:
      operationId: checkConsent
      tags: [Consent]
      summary: Runtime consent check for an intended operation
      description: |
        Resolver-path read endpoint. Computes the consent decision
        for an intended operation against the talent's consent
        ledger state. Per API Contracts Phase 1 §6 Processing
        Rules: resolves tenant from JWT, derives required scope
        from operation (Group 2 §2.7 Enforcement Points), validates
        scope dependencies, applies source-aware most-restrictive
        derivation, applies staleness rule (12 months, contacting
        scope only), applies channel constraints when scope is
        contacting, returns allowed/denied/error result, persists
        a decision-log audit row with the decision_id.

        Per Phase 1 §6 Consent Failure Mode (Locked): Aramo fails
        safe, never open. Resolver timeout or unexpected error
        returns HTTP 500; never falls back to "allowed".

        Idempotency is OPTIONAL per Phase 1 §6 (line 497). When a
        valid Idempotency-Key is provided AND a prior request used
        the same key + same body, the original response is returned
        from the idempotency table without re-running the resolver
        or emitting a new decision-log entry. Same key + different
        body returns 409 IDEMPOTENCY_KEY_CONFLICT. When absent,
        every call runs the resolver and writes a fresh
        decision-log entry.

        Returns 200 for allowed/denied/error decisions (the result
        is in the body's `result` field). Returns 422
        INVALID_SCOPE_COMBINATION with the ConsentDecision embedded
        in `error.details.consent_decision` when a scope dependency
        chain is unmet. Returns 403 only for caller-side blocks
        (tenant access denial); consent denial is 200 with
        `result: "denied"`.
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: |
            Optional per Phase 1 §6. When present, the call is
            idempotent: same key + same body returns the original
            ConsentDecision; same key + different body returns 409.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentCheckRequest'
      responses:
        '200':
          description: |
            Consent decision computed. The body's `result` field
            discriminates allowed/denied/error.
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentDecision'
        '400':
          description: Validation error (e.g., missing channel for contacting operation)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked, NOT consent denial)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: |
            Invalid scope combination — scope dependency chain
            unmet. The error envelope embeds the ConsentDecision
            in `error.details.consent_decision` per Phase 1 §1
            canonical embedding pattern.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure; per Consent Failure Mode locked, NOT a fallback to allowed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/state/{talent_id}:
    get:
      operationId: getTalentConsentState
      tags: [Consent]
      summary: Return current consent state per scope for a talent
      description: |
        Informational read endpoint. Returns the current consent
        state per scope for the requested talent within the JWT's
        tenant context. Always returns all 5 ConsentScope values;
        scopes without ledger events return status: "no_grant"
        (Decision D, PR-5).

        Per ADR-0006 Decision D, the resolver applies source-aware
        most-restrictive intersection across captured_method
        partitions to derive each scope's state. Per ADR-0006
        Precedent O, the resolver-region allow-list covers the
        batch findMany call.

        Idempotency: N/A per Phase 1 §6 endpoint table (line 500).
        No request body. talent_id is a path parameter (UUID).

        This is the program's first informational read endpoint.
        Per Decision H (PR-5), informational endpoints do NOT
        write decision-log audit entries; only enforcement
        endpoints (check/grant/revoke) do. ADR-0007 (forthcoming
        retroactive PR) documents this distinction.

        Multi-tenant honesty (Group 2 §2.8): the response covers
        ONLY the JWT's tenant_id. Callers needing multi-tenant
        view issue multiple per-tenant calls, matching ADR-0006
        Decision J's "partial consent NOT flattened" pattern.

        Right-to-be-forgotten (Decision F, PR-5): the endpoint
        continues to function for anonymized talent_ids and
        signals anonymization via is_anonymized at root level.
        PR-5 limitation: the talent module providing identity-
        existence detection does not exist yet, so is_anonymized
        is always false in PR-5. The schema field is in place
        for forward-compatibility.
      parameters:
        - name: talent_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Current consent state per scope (always 5 entries)
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TalentConsentStateResponse'
        '400':
          description: Invalid talent_id (not a UUID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/history/{talent_id}:
    get:
      operationId: getTalentConsentHistory
      tags: [Consent]
      summary: Return consent ledger event history for a talent
      description: |
        Informational read endpoint. Returns the consent ledger
        events for the requested talent within the JWT's tenant
        context, ordered by row insertion time (created_at DESC,
        event_id DESC).

        Pagination is keyset-based via an opaque cursor encoding
        the last item of the prior page. The cursor is opaque to
        consumers; its internal structure is not part of the API
        contract and may evolve without versioning. The API/DTO
        surface uses `event_id`; the underlying DB column is `id`.

        Per directive §6, ordering and pagination execute in the
        database; the schema includes the supporting index
        (tenant_id, talent_id, created_at DESC, id DESC).

        Per ADR-0007 Decision E (extended to history): historical
        events preserve their original status. Staleness is
        enforcement metadata applied at check time only and is
        never written into historical records.

        Per ADR-0007 Decision H (read-vs-enforcement distinction):
        this endpoint does NOT write decision-log entries.
        Idempotency: N/A.

        Right-to-be-forgotten (Decision F, hardcoded false in
        PR-6): is_anonymized signals identity removal. Always
        false in PR-6; the talent module providing detection does
        not exist yet. Schema field present for forward-
        compatibility.

        Empty history returns 200 with
        { events: [], next_cursor: null, is_anonymized: false }.
        Never 404 on empty.
      parameters:
        - name: talent_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ConsentScope'
          description: |
            Optional, single-valued filter. When present, only events
            for the named scope are returned. Filter is applied before
            pagination; the cursor traverses the filtered set.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: |
            Page size. Omitted → 50; > 200 → clamped to 200; < 1 or
            non-integer → HTTP 400 VALIDATION_ERROR.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: |
            Opaque pagination cursor. Pass the next_cursor from the
            previous response to fetch the next page. Invalid cursors
            (non-base64, malformed, structurally invalid) return HTTP
            400 VALIDATION_ERROR; never 500.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: |
            Consent history page. The response is wrapped (events array
            plus metadata); empty history returns 200 with empty array.
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentHistoryResponse'
        '400':
          description: |
            Validation error (invalid talent_id, invalid limit,
            invalid cursor)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/decision-log/{talent_id}:
    get:
      operationId: getTalentConsentDecisionLog
      tags: [Consent]
      summary: Return consent decision-log audit-event entries for a talent
      description: |
        Informational read endpoint. Returns the audit-event entries
        recorded for the requested talent within the JWT's tenant
        context, ordered by row insertion time
        (created_at DESC, event_id DESC).

        Reads from the consentAuditEvent table. The endpoint is
        read-only; per ADR-0007 Decision H — sharpest in PR-7 because
        the endpoint reads the very table the convention prohibits
        writing to — it does NOT write decision-log entries.
        Idempotency: N/A.

        Pagination is keyset-based via an opaque cursor encoding the
        last item of the prior page. The cursor is opaque to consumers
        and shares its encoding contract with /consent/history; clients
        cannot distinguish history cursors from decision-log cursors.

        Field name mapping (PR-7 §5):
          DB id          → API event_id   (PR-6 precedent)
          DB subject_id  → API talent_id  (PR-7 exception)

        event_payload is opaque JSON pass-through; clients inspect it
        for finer-grained selection. The directive forbids extraction
        or transformation of payload fields into top-level entry
        fields.

        event_type is a closed set per PR-7 §7 + ADR-0009 §4 four-clause
        principle: {consent.grant.recorded, consent.revoke.recorded,
        consent.check.decision}. Adding a value requires a directive
        amendment. actor_type is similarly closed:
        {recruiter, self, system}.

        Right-to-be-forgotten (Decision F, hardcoded false in PR-7):
        is_anonymized signals identity removal. Always false in PR-7;
        the talent module providing detection does not exist yet.

        Empty decision log returns 200 with
        { entries: [], next_cursor: null, is_anonymized: false }.
        Never 404 on empty (ADR-0007 Decision D).
      parameters:
        - name: talent_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - consent.grant.recorded
              - consent.revoke.recorded
              - consent.check.decision
          description: |
            Optional, single-valued filter. When present, only
            audit-event entries matching the named event_type are
            returned. Filter is applied before pagination; the cursor
            traverses the filtered set. Multi-valued filtering is
            explicitly out of scope.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: |
            Page size. Omitted → 50; > 200 → clamped to 200; < 1 or
            non-integer → HTTP 400 VALIDATION_ERROR.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: |
            Opaque pagination cursor. Pass the next_cursor from the
            previous response to fetch the next page. Invalid cursors
            (non-base64, malformed, structurally invalid) return HTTP
            400 VALIDATION_ERROR; never 500.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: |
            Consent decision-log page. The response is wrapped (entries
            array plus metadata); empty decision log returns 200 with
            empty array.
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentDecisionLogResponse'
        '400':
          description: |
            Validation error (invalid talent_id, invalid event_type,
            invalid limit, invalid cursor)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    # PR-8.0b directive §3 Topic 5 + §8.5: dual-auth widening on common
    # endpoints. CookieAccessAuth is duplicated byte-for-byte from
    # openapi/auth.yaml (locked invariant 4: duplicate-not-$ref — no
    # cross-document $ref). If you change either definition, change both
    # together and keep them byte-identical.
    CookieAccessAuth:
      type: apiKey
      in: cookie
      name: aramo_access_token

  # M3 PR-8 §4.4 — named common responses for the standard error families.
  # OpenAPI definition home for the cross-file $ref pattern
  # (openapi/ats.yaml references these on the match-list endpoint). All
  # three carry the ErrorResponse envelope as their response body.
  responses:
    BadRequest:
      description: |
        The request was malformed (invalid path/query parameter, malformed
        cursor, etc.). Error code INVALID_REQUEST.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: |
        Missing or invalid JWT bearer token. Error code AUTH_REQUIRED or
        INVALID_TOKEN.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: |
        Authenticated but unauthorized — consumer_type does not have access
        to this route, or tenant scoping denies the request. Error code
        INSUFFICIENT_PERMISSIONS or TENANT_ACCESS_DENIED.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    # M3 PR-9 §4.5 — NotFound response for the portal self-profile endpoint
    # when the talent has no per-tenant overlay. Returned (rather than
    # 200 with empty body) because the portal contract is "your profile in
    # this tenant" — if you don't exist in this tenant, no profile to
    # render. Distinct from the PR-8 match-list empty-list-on-no-active-req
    # security posture (which returns 200 with []), because /portal/profile
    # is a singleton resource (a talent has at most one overlay per tenant),
    # not a list.
    NotFound:
      description: |
        The requested resource does not exist for this tenant context.
        Error code NOT_FOUND.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    # M4 PR-3 — UnprocessableEntity response component. Used by POST
    # /v1/submittals (and the M4 PR-4 submittal-confirm + M4 PR-5
    # examination-override + M4 PR-7 submittal-revoke endpoints) to
    # carry 422 refusals. Referenced error codes (from the closed
    # ErrorCode enum):
    #   - SUBMITTAL_STRETCH_BLOCKED (M4 PR-2) — Stretch-tier blocked at
    #     submittal create and confirm.
    #   - JUSTIFICATION_REQUIRED (M4 PR-3 registers, M4 PR-4 raises) —
    #     Worth Considering submittal missing justification or failed-
    #     criterion acknowledgments at confirm.
    #   - ATTESTATION_MISSING (M4 PR-4) — submittal-confirm rejects when
    #     any of the three recruiter attestations is not literally true.
    #   - OVERRIDE_INVALID (M4 PR-5) — examination-override endpoint
    #     semantic refusal (invalid override_type for the target_field,
    #     etc.). Registered at PR-5; reserved for future enforcement.
    #   - REVOKE_NOT_ALLOWED (M4 PR-7) — submittal-revoke endpoint
    #     refuses when the target submittal is not in state='submitted'
    #     (i.e. draft or already-revoked).
    #   - VALIDATION_ERROR — request body fails schema validation.
    UnprocessableEntity:
      description: |
        The request is well-formed but violates a semantic invariant
        enforced by the application layer. Possible codes:
        SUBMITTAL_STRETCH_BLOCKED, JUSTIFICATION_REQUIRED,
        ATTESTATION_MISSING, OVERRIDE_INVALID, REVOKE_NOT_ALLOWED,
        VALIDATION_ERROR.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    # M4 PR-4 — Conflict response component. Used by POST
    # /v1/submittals/{id}/confirm to carry the 409 refusal family.
    # Referenced error codes (from the closed ErrorCode enum):
    #   - EXAMINATION_PINNED_OUTDATED (M4 PR-4) — pinned examination is
    #     missing, no longer active, or no longer the latest snapshot for
    #     the (tenant, talent, job) triple.
    #   - SUBMITTAL_ALREADY_CONFIRMED (M4 PR-4) — confirm called on a
    #     submittal already in state='submitted'.
    #   - IDEMPOTENCY_KEY_CONFLICT (program-wide) — same Idempotency-Key
    #     with a different request body.
    Conflict:
      description: |
        The request conflicts with the current resource state. Possible
        codes: EXAMINATION_PINNED_OUTDATED, SUBMITTAL_ALREADY_CONFIRMED,
        IDEMPOTENCY_KEY_CONFLICT.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ConsentScope:
      type: string
      description: |
        Closed enum (Group 2 §2.2): the five consent scopes. Future PRs
        do not add values to this enum without Architect-reviewed PR.
      enum:
        - profile_storage
        - resume_processing
        - matching
        - contacting
        - cross_tenant_visibility

    ConsentDecisionAction:
      type: string
      description: |
        Closed enum (Group 2 §2.2): three lifecycle actions. PR-2 writes
        "granted"; PR-3 writes "revoked"; the staleness background job
        is the future writer of "expired".
      enum:
        - granted
        - revoked
        - expired

    ConsentCapturedMethod:
      type: string
      description: |
        Closed enum (Group 2 §2.2): four capture methods, mapping to the
        flow that produced the consent decision.
      enum:
        - self_signup
        - recruiter_capture
        - upload_flow
        - import

    ContactChannel:
      type: string
      description: |
        Closed enum of contact channels permitted under the contacting
        consent scope. Locked at API Contracts Phase 1 §1. ContactChannel
        is a dimension within contacting scope, not a separate scope.
        Used by /consent/check (PR-4) for channel constraint validation
        when the derived scope is contacting.
      enum:
        - email
        - phone
        - sms
        - indeed
        - portal
        - other

    ConsentCheckOperation:
      type: string
      description: |
        Closed enum of operations checkable via /consent/check. 7 values
        derived from Group 2 §2.7 Enforcement Points table. Each operation
        maps to exactly one required scope (Decision C, locked):
          ingestion    → profile_storage
          matching     → matching
          examination  → matching
          engagement   → contacting
          packaging    → contacting
          submittal    → contacting
          cross_tenant → cross_tenant_visibility
        Adding a value requires Architect approval per
        doc/02-claude-code-discipline.md Rule 4.
      enum:
        - ingestion
        - matching
        - examination
        - engagement
        - packaging
        - submittal
        - cross_tenant

    ConsentScopeStatus:
      type: string
      description: |
        Closed enum for current consent state per scope, derived by the
        resolver. PR-5 introduces this enum (8th in the program's
        vocabulary). Distinct from ConsentDecisionAction (which represents
        the action recorded on a write event); ConsentScopeStatus
        represents the state derived on a read.

        `no_grant` is unique to derivation — there is no
        TalentConsentEvent with action: "no_grant". This is why
        ConsentScopeStatus is a separate enum from ConsentDecisionAction,
        not a superset.

        Adding a value requires Architect approval per
        doc/02-claude-code-discipline.md Rule 4.
      enum:
        - granted
        - revoked
        - expired
        - no_grant

    ConsentGrantRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/grant. The `action` field is
        deliberately absent — server sets `action = granted`.
      required:
        - talent_id
        - scope
        - captured_method
        - consent_version
        - occurred_at
      properties:
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        consent_version:
          type: string
        consent_text_snapshot:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: |
            Per-event context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule (PR-2 schema
            checklist).

    ConsentGrantResponse:
      type: object
      additionalProperties: false
      required:
        - event_id
        - tenant_id
        - talent_id
        - scope
        - action
        - captured_method
        - consent_version
        - occurred_at
        - recorded_at
      properties:
        event_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          type: string
          const: granted
          description: |
            Locked: this endpoint always returns "granted". Future
            endpoints (PR-3 revoke) return their own action.
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        captured_by_actor_id:
          type: string
          format: uuid
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        recorded_at:
          type: string
          format: date-time
          description: |
            Server-side insertion timestamp (TalentConsentEvent.created_at).
            Distinct from occurred_at (when the consent decision happened).
        metadata:
          type: object
          additionalProperties: true
          description: |
            Echoed from the request. Documented OpenAPI exception to
            additionalProperties: false (PR-2 schema checklist).

    ConsentRevokeRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/revoke. The `action` field is
        deliberately absent — server sets `action = revoked`. The
        `expires_at` and `consent_text_snapshot` fields are also
        absent; both are grant-time concepts. Per PR-3 canonical
        contract.
      required:
        - talent_id
        - scope
        - captured_method
        - consent_version
        - occurred_at
      properties:
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: |
            Per-event context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule.

    ConsentRevokeResponse:
      type: object
      additionalProperties: false
      required:
        - event_id
        - tenant_id
        - talent_id
        - scope
        - action
        - captured_method
        - consent_version
        - occurred_at
        - recorded_at
        - revoked_event_id
      properties:
        event_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          type: string
          const: revoked
          description: |
            Locked: this endpoint always returns "revoked". Mirrors
            the grant endpoint's `const: granted` pattern.
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        captured_by_actor_id:
          type: string
          format: uuid
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        recorded_at:
          type: string
          format: date-time
          description: |
            Server-side insertion timestamp. Distinct from
            occurred_at (when the revocation decision happened).
        revoked_event_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
          description: |
            ID of the prior grant event being revoked. Server-derived
            via single-event lookup against the ledger for the latest
            matching granted event by (tenant_id, talent_id, scope).
            Null if no prior grant exists (revoke without grant is
            allowed per PR-3 Decision D).
        metadata:
          type: object
          additionalProperties: true
          description: |
            Echoed from the request. Documented OpenAPI exception to
            additionalProperties: false.

    ConsentCheckRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/check. Per Decision B,
        tenant_id is NOT a body field (resolved from JWT per Phase
        1 §1). The `channel` field is conditionally required when
        the operation maps to contacting scope (Decision G); the
        resolver returns 400 VALIDATION_ERROR if absent in that
        case.
      required:
        - talent_id
        - operation
      properties:
        talent_id:
          type: string
          format: uuid
        operation:
          $ref: '#/components/schemas/ConsentCheckOperation'
        channel:
          $ref: '#/components/schemas/ContactChannel'

    ConsentDecision:
      type: object
      additionalProperties: false
      description: |
        Locked response shape for POST /consent/check. Source: API
        Contracts Phase 1 §1 Common Schemas (lines 469-489). Returned
        directly in 200 responses. Embedded in
        error.details.consent_decision for 422 dependency-unmet
        responses (Phase 1 §1 canonical embedding pattern).

        `result` discriminates allowed/denied/error. `reason_code`
        carries the denial reason (e.g., "stale_consent",
        "scope_dependency_unmet", "channel_not_consented",
        "consent_state_unknown").
      required:
        - result
        - decision_id
        - computed_at
      properties:
        result:
          type: string
          enum:
            - allowed
            - denied
            - error
        scope:
          $ref: '#/components/schemas/ConsentScope'
        denied_scopes:
          type: array
          items:
            $ref: '#/components/schemas/ConsentScope'
        reason_code:
          type: string
        display_message:
          type: string
        log_message:
          type: string
        decision_id:
          type: string
          format: uuid
        computed_at:
          type: string
          format: date-time

    TalentConsentScopeState:
      type: object
      additionalProperties: false
      description: |
        Per-scope state in the /consent/state response. PR-5
        Decision C: universal common-API surface. Distinct from
        Phase 3's PortalConsentScopeState which adds Portal-only
        fields (`is_stale`, `display_label`).

        Timestamps:
          - granted_at: latest grant event's occurred_at, or null
                        if no grant event exists for this scope
          - revoked_at: latest revocation event's occurred_at,
                        or null if not revoked
          - expires_at: explicit expiration set on the controlling
                        grant event (TalentConsentEvent.expires_at);
                        null when absent
      required:
        - scope
        - status
      properties:
        scope:
          $ref: '#/components/schemas/ConsentScope'
        status:
          $ref: '#/components/schemas/ConsentScopeStatus'
        granted_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
        revoked_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
        expires_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'

    TalentConsentStateResponse:
      type: object
      additionalProperties: false
      description: |
        Wrapped response shape for GET /consent/state/{talent_id}
        (PR-5 Decision A). Metadata fields plus a `scopes` array
        that always contains all 5 ConsentScope values (Decision D:
        always-5-scopes deterministic response).

        `is_anonymized` is the right-to-be-forgotten signal
        (Decision F). PR-5 limitation: always false because the
        talent module providing identity-existence detection does
        not exist yet. Schema field present for forward-
        compatibility; future PRs wire detection.
      required:
        - talent_id
        - tenant_id
        - is_anonymized
        - computed_at
        - scopes
      properties:
        talent_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        is_anonymized:
          type: boolean
          description: |
            True if the talent identity has been removed
            (right-to-be-forgotten) but consent ledger events are
            retained per Group 2 §2.7. Always false in PR-5; the
            talent module that provides identity-existence
            detection does not exist yet.
        computed_at:
          type: string
          format: date-time
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/TalentConsentScopeState'

    ConsentHistoryEvent:
      type: object
      additionalProperties: false
      description: |
        Per-event entry in the /consent/history response (PR-6 §4).
        Field set is closed at exactly five fields; adding a field
        requires a new ADR (directive §9 halt condition).

        `event_id` is the API/DTO surface name; the underlying DB
        column is `id`. The mapping is documented in PR-6 §5 (the
        only renaming permitted in PR-6) and matches the precedent
        set by `ConsentRevokeResponse.event_id` and
        `ConsentDecision.decision_id`.

        `action` corresponds to ConsentDecisionAction values
        (granted | revoked | expired). Historical events preserve
        their original action; staleness is enforcement metadata
        applied at check time only and is never written into
        historical records (ADR-0007 Decision E extension).

        `expires_at` is nullable and originates from the underlying
        `TalentConsentEvent.expires_at` column.
      required:
        - event_id
        - scope
        - action
        - created_at
      properties:
        event_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          $ref: '#/components/schemas/ConsentDecisionAction'
        created_at:
          type: string
          format: date-time
        expires_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'

    ConsentHistoryResponse:
      type: object
      additionalProperties: false
      description: |
        Wrapped response shape for GET /consent/history/{talent_id}
        (PR-6 §4). Wrapped, never bare. Never 404 on empty.

        `next_cursor` is null when there are no more pages,
        otherwise an opaque base64url string. The internal cursor
        structure is not part of the API contract and may evolve
        without versioning.

        `is_anonymized` is the right-to-be-forgotten signal
        (ADR-0007 Decision F). Hardcoded `false` in PR-6; the
        talent module providing identity-existence detection does
        not exist yet. Schema field present for forward-
        compatibility.
      required:
        - events
        - next_cursor
        - is_anonymized
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/ConsentHistoryEvent'
        next_cursor:
          oneOf:
            - type: string
            - type: 'null'
        is_anonymized:
          type: boolean

    ConsentDecisionLogEntry:
      type: object
      additionalProperties: false
      description: |
        Per-entry shape for /consent/decision-log (PR-7 §4). Field set
        is closed (additionalProperties: false); only `event_payload`
        is open (heterogeneous JSON pass-through). Adding a field
        requires a directive amendment (PR-7 §11 halt condition).

        Field name mapping (PR-7 §5):
          DB id          → API event_id   (PR-6 precedent)
          DB subject_id  → API talent_id  (PR-7 exception)

        `event_type` is a closed set per PR-7 §7 + ADR-0009 §4.
        `actor_type` is a closed set: {recruiter, self, system}.
        Adding a value to either requires a directive amendment.

        `event_payload` is opaque JSON; clients inspect it for
        finer-grained selection. The directive forbids extracting or
        transforming payload fields into top-level entry fields.
      required:
        - event_id
        - talent_id
        - event_type
        - created_at
        - event_payload
      properties:
        event_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        event_type:
          type: string
          enum:
            - consent.grant.recorded
            - consent.revoke.recorded
            - consent.check.decision
        created_at:
          type: string
          format: date-time
        actor_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
        actor_type:
          type: string
          enum:
            - recruiter
            - self
            - system
        event_payload:
          type: object
          additionalProperties: true

    ConsentDecisionLogResponse:
      type: object
      additionalProperties: false
      description: |
        Wrapped response shape for GET /consent/decision-log/{talent_id}
        (PR-7 §4). Wrapped, never bare. Never 404 on empty (ADR-0007
        Decision D).

        `next_cursor` is null when there are no more pages, otherwise
        an opaque base64url string. The internal cursor structure is
        not part of the API contract and may evolve without
        versioning. Cursor encoding is shared with /consent/history;
        clients cannot distinguish history cursors from decision-log
        cursors (PR-7 §6 + ADR-0008 Decision B).

        `is_anonymized` is the right-to-be-forgotten signal (ADR-0007
        Decision F). Hardcoded `false` in PR-7; the talent module
        providing identity-existence detection does not exist yet.
        Schema field present for forward-compatibility.
      required:
        - entries
        - next_cursor
        - is_anonymized
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/ConsentDecisionLogEntry'
        next_cursor:
          oneOf:
            - type: string
            - type: 'null'
        is_anonymized:
          type: boolean

    ErrorCode:
      type: string
      description: |
        Closed subset of the locked 36-code error registry (API
        Contracts Phase 5). Drawn incrementally; adding a new code
        requires Architect approval per
        doc/02-claude-code-discipline.md Rule 4. INTERNAL_ERROR is
        the registry's catch-all for unexpected 5xx failures (Phase 5
        "System & Processing" category). PR-3.2 adds
        INVALID_SCOPE_COMBINATION (HTTP 422) for consent scope
        dependency violations on /consent/check (PR-4).

        PR-8.0a-Reground adds TENANT_SELECTION_REQUIRED (HTTP 409)
        and REFRESH_TOKEN_INVALID (HTTP 401) for the auth-service
        /callback and /refresh endpoints respectively. M3 PR-8 adds
        INVALID_REQUEST (HTTP 400) for malformed match-list request
        input and INSUFFICIENT_PERMISSIONS (HTTP 403) for per-route
        consumer_type checks on the recruiter-facing match-list
        endpoint. M3 PR-9 adds NOT_FOUND (HTTP 404) for the portal
        self-profile endpoint when the talent has no per-tenant
        overlay (existed-as-Talent-but-not-in-this-tenant case).
        M4 PR-2 adds SUBMITTAL_STRETCH_BLOCKED (HTTP 422) for the
        evidence-package builder's Stretch-tier refusal (R9 substrate-
        layer enforcement per Plan v1.5 §M4 Track A item 4). The
        consuming endpoint PR (F33 submittal-create) will add the
        matching UnprocessableEntity response component that
        references this code.
        M4 PR-3 adds JUSTIFICATION_REQUIRED (HTTP 422) for the
        submittal-confirm endpoint's Worth Considering enforcement
        (per Plan v1.5 §M4 Track B item 4). Pre-registered at PR-3 to
        match the parity-triple lesson learned at PR-2. F34 raises;
        PR-3 only persists `justification` + `failed_criterion_
        acknowledgments` verbatim.
        M4 PR-4 adds the three submittal-confirm refusal codes per
        Aramo-M4-PR-4-Directive-v1_0-LOCKED.md §4.6:
          - ATTESTATION_MISSING (HTTP 422) — any of the three recruiter
            attestations is not literally true at confirm.
          - EXAMINATION_PINNED_OUTDATED (HTTP 409) — pinned examination
            row is missing, no longer active, or no longer the latest
            snapshot for (tenant, talent, job).
          - SUBMITTAL_ALREADY_CONFIRMED (HTTP 409) — confirm called on a
            submittal already in state='submitted'.
        M4 PR-5 adds OVERRIDE_INVALID (HTTP 422) for the examination-
        override endpoint per Aramo-M4-PR-5-Directive-v1_0-LOCKED.md §4.7
        (semantic refusal of invalid override payload or non-overridable
        field; class-validator shape failures still surface as
        VALIDATION_ERROR 400).
        M4 PR-7 adds REVOKE_NOT_ALLOWED (HTTP 422) for the
        submittal-revoke endpoint per Aramo-M4-PR-7-Directive-v1_0-
        LOCKED.md §4.6 (refusal when the target submittal is not in
        state='submitted' — draft or already-revoked).
        Declaration order in this enum matches ERROR_CODES tuple
        order in libs/common/src/lib/errors/error-codes.ts.
      enum:
        - AUTH_REQUIRED
        - INVALID_TOKEN
        - TENANT_ACCESS_DENIED
        - VALIDATION_ERROR
        - IDEMPOTENCY_KEY_CONFLICT
        - INTERNAL_ERROR
        - INVALID_SCOPE_COMBINATION
        - TENANT_SELECTION_REQUIRED
        - REFRESH_TOKEN_INVALID
        - INVALID_REQUEST
        - INSUFFICIENT_PERMISSIONS
        - NOT_FOUND
        - SUBMITTAL_STRETCH_BLOCKED
        - JUSTIFICATION_REQUIRED
        - ATTESTATION_MISSING
        - EXAMINATION_PINNED_OUTDATED
        - SUBMITTAL_ALREADY_CONFIRMED
        - OVERRIDE_INVALID
        - REVOKE_NOT_ALLOWED
        - ENGAGEMENT_EVENT_REF_NOT_FOUND
        - ENGAGEMENT_REFERENCE_NOT_FOUND
        - ENGAGEMENT_STATE_INVALID

    ErrorObject:
      type: object
      additionalProperties: false
      required: [code, message, request_id, details]
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
        display_message:
          type: string
        log_message:
          type: string
        request_id:
          type: string
          format: uuid
        details:
          type: object
          additionalProperties: true
          description: |
            Per-error context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule.

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'

    # =========================================================================
    # M3 PR-6 — TalentJobExamination read-side projection schemas.
    #
    # Source: Group 2 Consolidated Baseline v2.0 §2.4 (the
    # TalentJobExamination type literal and its nested types); API Contracts
    # v1.0 (TalentJobExaminationSummary / Full, the allOf framing, the
    # EvidenceEntityType closed list).
    #
    # Two categories of definition (see PR-6 directive §4.1):
    #   - FULLY-SPECIFIED — built to the Group 2 §2.4 type literal exactly.
    #   - NAMED-ONLY — PR-6-defined name-keyed projection shapes per directive
    #     §2 Ruling 1: built only on substrate data, no skill_id keying, no
    #     invented per-skill metadata. Group-3-supersedable (F18).
    #
    # PR-6 is project-only (§2 Ruling 2): EvidenceReference values are
    # returned as PR-3 persisted them, no dereferencing of targets.
    # =========================================================================

    # Group 2 §2.4 ExaminationReasoning.category — 6-value closed enum.
    ExaminationReasoningCategory:
      type: string
      enum:
        - skill
        - experience
        - constraint
        - freshness
        - engagement
        - risk

    # Group 2 §2.4 / API Contracts v1.0 EvidenceEntityType — 8-value closed
    # list. The 8th value (TalentEngagementEvent) is structurally valid but
    # unresolvable until M5 (PR-5 Ruling 1).
    EvidenceEntityType:
      type: string
      enum:
        - TalentSkillEvidence
        - TalentWorkHistoryEntry
        - TalentContactMethod
        - TalentRateExpectation
        - TalentWorkAuthorization
        - TalentEngagementEvent
        - TalentDocument
        - TalentDerivedSnapshot

    # Group 2 §2.4 EvidenceReference — { entity_type, entity_id, field_path?,
    # excerpt? }. PR-6 emits values as PR-3 persisted them (project-only).
    EvidenceReference:
      type: object
      additionalProperties: false
      required: [entity_type, entity_id]
      properties:
        entity_type:
          $ref: '#/components/schemas/EvidenceEntityType'
        entity_id:
          type: string
          format: uuid
        field_path:
          type: string
        excerpt:
          type: string

    # Group 2 §2.4 ExaminationReasoning — { category, statement, evidence_refs }.
    ExaminationReasoning:
      type: object
      additionalProperties: false
      required: [category, statement, evidence_refs]
      properties:
        category:
          $ref: '#/components/schemas/ExaminationReasoningCategory'
        statement:
          type: string
        evidence_refs:
          type: array
          items:
            $ref: '#/components/schemas/EvidenceReference'

    # Group 2 §2.4 RiskFlag.type — 8-value closed enum.
    RiskFlagType:
      type: string
      enum:
        - unverified_contact
        - stale_profile
        - low_data_completeness
        - conflicting_evidence
        - rate_mismatch
        - authorization_unknown
        - low_reachability
        - other

    # Group 2 §2.4 RiskFlag.severity — 3-value closed enum.
    RiskFlagSeverity:
      type: string
      enum: [low, medium, high]

    # Group 2 §2.4 RiskFlag — { type, subtype?, severity, message }.
    RiskFlag:
      type: object
      additionalProperties: false
      required: [type, severity, message]
      properties:
        type:
          $ref: '#/components/schemas/RiskFlagType'
        subtype:
          type: string
        severity:
          $ref: '#/components/schemas/RiskFlagSeverity'
        message:
          type: string

    # Group 2 §2.4 ConfidenceIndicators.*.level — 3-value closed enum.
    ConfidenceLevel:
      type: string
      enum: [high, medium, low]

    # Group 2 §2.4 — single indicator { level, basis }.
    ConfidenceIndicator:
      type: object
      additionalProperties: false
      required: [level, basis]
      properties:
        level:
          $ref: '#/components/schemas/ConfidenceLevel'
        basis:
          type: string

    # Group 2 §2.4 ConfidenceIndicators — three indicators.
    ConfidenceIndicators:
      type: object
      additionalProperties: false
      required: [evidence_strength, data_completeness, constraint_confidence]
      properties:
        evidence_strength:
          $ref: '#/components/schemas/ConfidenceIndicator'
        data_completeness:
          $ref: '#/components/schemas/ConfidenceIndicator'
        constraint_confidence:
          $ref: '#/components/schemas/ConfidenceIndicator'

    # Group 2 §2.4 DeltaToEntrustable.current_tier — 2-value closed enum.
    DeltaCurrentTier:
      type: string
      enum: [WORTH_CONSIDERING, STRETCH]

    # Group 2 §2.4 DeltaToEntrustable.next_tier_target — 2-value closed enum.
    DeltaNextTierTarget:
      type: string
      enum: [WORTH_CONSIDERING, ENTRUSTABLE]

    # Group 2 §2.4 DeltaToEntrustable.
    DeltaToEntrustable:
      type: object
      additionalProperties: false
      required: [current_tier, next_tier_target, blockers, recommended_actions]
      properties:
        current_tier:
          $ref: '#/components/schemas/DeltaCurrentTier'
        next_tier_target:
          $ref: '#/components/schemas/DeltaNextTierTarget'
        blockers:
          type: array
          items:
            type: string
        recommended_actions:
          type: array
          items:
            type: string

    # Group 2 §2.4 TalentJobExamination.tier — 3-value closed enum.
    ExaminationTier:
      type: string
      enum: [ENTRUSTABLE, WORTH_CONSIDERING, STRETCH]

    # Group 2 §2.4 TalentJobExamination.lifecycle_state — 3-value closed enum.
    ExaminationLifecycleState:
      type: string
      enum: [active, archived, cold_storage]

    # PR-6 §4.1 named-only projection shape (Ruling 1) — name-keyed
    # per-skill view. NO skill_id; metadata limited to what the PR-2/3
    # CriticalSkillExamination type carries. Group-3-supersedable (F18).
    SkillMatchSummaryPerSkill:
      type: object
      additionalProperties: false
      required: [name, evidence_count, has_ingested_evidence]
      properties:
        name:
          type: string
        evidence_count:
          type: integer
          minimum: 0
        has_ingested_evidence:
          type: boolean

    # PR-6 §4.1 named-only projection shape (Ruling 1) — Group 2 §2.4 names
    # SkillMatchSummary but gives no inline body. PR-6 defines this as the
    # simplest name-keyed shape over GoldenProfile.critical_skills names and
    # CriticalSkillExamination per-skill data. Group-3-supersedable (F18).
    SkillMatchSummary:
      type: object
      additionalProperties: false
      required: [matched_count, missing_count, per_skill]
      properties:
        matched_count:
          type: integer
          minimum: 0
        missing_count:
          type: integer
          minimum: 0
        per_skill:
          type: array
          items:
            $ref: '#/components/schemas/SkillMatchSummaryPerSkill'

    # PR-6 §4.1 named-only projection shape (Ruling 1).
    # Group-3-supersedable (F18).
    ExperienceMatchSummary:
      type: object
      additionalProperties: false
      properties:
        years:
          type: number
        summary:
          type: string

    # PR-6 §4.1 named-only projection shape (Ruling 1). Field names match
    # the four §2.5 constraint dimensions. Group-3-supersedable (F18).
    ConstraintCheckSummary:
      type: object
      additionalProperties: false
      properties:
        location:
          type: string
        work_mode:
          type: string
        rate:
          type: string
        work_authorization:
          type: string

    # PR-6 §4.1 named-only projection shape (Ruling 1).
    # Group-3-supersedable (F18).
    FreshnessIndicator:
      type: object
      additionalProperties: false
      properties:
        profile_age_days:
          type: integer
          minimum: 0

    # API Contracts v1.0 / Group 2 §2.4 TalentJobExaminationSummary — the
    # 10-field shape returned by match-list endpoints. The allOf base for
    # TalentJobExaminationFull below.
    TalentJobExaminationSummary:
      type: object
      additionalProperties: false
      required:
        - examination_id
        - talent_id
        - job_id
        - tier
        - rank_ordinal
        - why_matched_sentence
        - top_skills
        - confidence_summary
        - freshness_indicator
        - computed_at
      properties:
        examination_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        job_id:
          type: string
          format: uuid
        tier:
          $ref: '#/components/schemas/ExaminationTier'
        rank_ordinal:
          type: integer
          minimum: 0
        why_matched_sentence:
          type: string
          maxLength: 140
        top_skills:
          type: array
          items:
            type: string
        confidence_summary:
          $ref: '#/components/schemas/ConfidenceIndicators'
        freshness_indicator:
          $ref: '#/components/schemas/FreshnessIndicator'
        computed_at:
          type: string
          format: date-time

    # API Contracts v1.0 / Group 2 §2.4 TalentJobExaminationFull —
    # allOf Summary + the 5 added field groups per L463-468: expanded
    # reasoning, skill match breakdown, evidence references,
    # delta_to_entrustable, lifecycle metadata. PR-6 also adds the
    # fully-specified strengths/gaps/risk_flags fields from §2.4.
    #
    # Schema Rule (Locked, API Contracts L586): match-list endpoints must
    # NEVER return Full. The detail endpoint serves Full; the match list
    # serves Summary.
    TalentJobExaminationFull:
      allOf:
        - $ref: '#/components/schemas/TalentJobExaminationSummary'
        - type: object
          additionalProperties: false
          required:
            - expanded_reasoning
            - skill_match
            - experience_match
            - constraint_checks
            - strengths
            - gaps
            - risk_flags
            - delta_to_entrustable
            - evidence_references
            - lifecycle_state
            - archived_at
            - superseded_by_examination_id
          properties:
            expanded_reasoning:
              type: array
              items:
                $ref: '#/components/schemas/ExaminationReasoning'
            skill_match:
              $ref: '#/components/schemas/SkillMatchSummary'
            experience_match:
              $ref: '#/components/schemas/ExperienceMatchSummary'
            constraint_checks:
              $ref: '#/components/schemas/ConstraintCheckSummary'
            strengths:
              type: array
              items:
                type: string
            gaps:
              type: array
              items:
                type: string
            risk_flags:
              type: array
              items:
                $ref: '#/components/schemas/RiskFlag'
            delta_to_entrustable:
              oneOf:
                - $ref: '#/components/schemas/DeltaToEntrustable'
                - type: 'null'
            evidence_references:
              type: array
              items:
                $ref: '#/components/schemas/EvidenceReference'
            lifecycle_state:
              $ref: '#/components/schemas/ExaminationLifecycleState'
            archived_at:
              oneOf:
                - type: string
                  format: date-time
                - type: 'null'
            superseded_by_examination_id:
              oneOf:
                - type: string
                  format: uuid
                - type: 'null'

    # M3 PR-8 §4.4 — cursor-based pagination envelope per API Contracts
    # L54-57. Used by the match-list endpoint in openapi/ats.yaml; shape
    # designed for reuse by future paginated reads (Group 3 Examination
    # Detail, etc.). Cursor and next_cursor are opaque base64 strings —
    # consumers MUST NOT decode them; the server's encoding is an
    # implementation detail (controller serializes the keyset triplet
    # PR-7's findActiveReqLiveList accepts).
    PaginationEnvelope:
      type: object
      additionalProperties: false
      required: [cursor, next_cursor, page_size, has_more]
      properties:
        cursor:
          oneOf:
            - type: string
            - type: 'null'
          description: |
            The cursor supplied on this request (or null if the request did
            not include one). Echoed back so consumers can follow chains.
        next_cursor:
          oneOf:
            - type: string
            - type: 'null'
          description: |
            Opaque cursor to fetch the next page, or null when has_more is
            false.
        page_size:
          type: integer
          minimum: 0
          description: |
            Number of items returned in `data`. May be less than the
            requested limit at the tail of the result set.
        has_more:
          type: boolean

    # =====================================================================
    # M4 PR-3 — Submittal create endpoint surfaces.
    #
    # Group 2 §2.6 architecture split:
    #   TalentJobEvidencePackage (immutable deliverable; libs/evidence)
    #       ↓ referenced by
    #   TalentSubmittalRecord (workflow; libs/submittal)
    #
    # SubmittalState ships the 2-value subset (draft, submitted) per the
    # PR-3 directive Ruling 9. F37 extends to the 5-value Group 2 §2.3b
    # Loop 5 machine at M5.
    # =====================================================================

    # M4 PR-6 amendment — TalentJobEvidencePackageView. Structural
    # addition surfacing the PR-1 entity for the GET /v1/submittals/
    # {submittal_id}/evidence-package response (M4 PR-6 §4.4). Mirrors
    # the Prisma TalentJobEvidencePackage entity (libs/evidence PR-1).
    # JSONB payloads typed as object with additionalProperties: true; the
    # per-payload structural refinement is M5/M6 work (PR-6 scope is the
    # structural addition only).
    TalentJobEvidencePackageView:
      type: object
      additionalProperties: false
      required:
        - id
        - tenant_id
        - talent_id
        - job_id
        - examination_id
        - submittal_record_id
        - talent_identity
        - contact_summary
        - capability_summary
        - match_justification
        - recruiter_contribution
        - engagement_event_refs
        - created_at
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        job_id:
          type: string
          format: uuid
        examination_id:
          type: string
          format: uuid
        submittal_record_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
        parent_package_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
        talent_identity:
          type: object
          additionalProperties: true
        contact_summary:
          type: object
          additionalProperties: true
        capability_summary:
          type: object
          additionalProperties: true
        match_justification:
          type: object
          additionalProperties: true
        recruiter_contribution:
          type: object
          additionalProperties: true
        engagement_event_refs:
          type: array
          items:
            type: string
            format: uuid
        created_at:
          type: string
          format: date-time

    SubmittalState:
      type: string
      description: |
        Workflow state of a TalentSubmittalRecord. PR-3 ships the
        2-value subset (`draft`, `submitted`); M4 PR-7 adds `revoked`
        (reached via the submittal-revoke endpoint). F37 extends to
        the 5-value Group 2 §2.3b Loop 5 machine at M5.
      enum:
        - draft
        - submitted
        - revoked

    FailedCriterionAcknowledgment:
      type: object
      additionalProperties: false
      required:
        - criterion
        - field_path
        - observed_value
        - expected_threshold
        - acknowledged
      properties:
        criterion:
          type: string
          description: |
            The §2.5 entrustability criterion that failed (e.g.,
            "rate_within_band", "work_authorization_match").
        field_path:
          type: string
          description: |
            Dotted path to the field carrying the observed value
            (e.g., "talent_rate.min_rate").
        observed_value:
          type: string
          description: |
            The observed value rendered as a string.
        expected_threshold:
          type: string
          description: |
            The expected threshold rendered as a string.
        acknowledged:
          type: boolean
          description: |
            Recruiter's acknowledgment that the criterion was reviewed
            and the submittal is intentional despite the failure.

    JustificationText:
      type: string
      description: |
        Worth Considering submittal justification text. Persisted at
        PR-3's create endpoint; enforced as non-empty at F34's confirm
        endpoint for Worth Considering tier.
      minLength: 1
      maxLength: 2000

    TalentSubmittalRecord:
      type: object
      additionalProperties: false
      required:
        - id
        - tenant_id
        - talent_id
        - job_id
        - evidence_package_id
        - pinned_examination_id
        - state
        - created_by
        - created_at
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        job_id:
          type: string
          format: uuid
        evidence_package_id:
          type: string
          format: uuid
          description: |
            Cross-schema reference to TalentJobEvidencePackage (evidence
            schema). UUID-only per Architecture §7.3; no FK constraint.
        pinned_examination_id:
          type: string
          format: uuid
          description: |
            Cross-schema reference to TalentJobExamination (examination
            schema). Pinned at draft creation; F34's confirm endpoint
            re-validates against the latest examination and returns 409
            EXAMINATION_PINNED_OUTDATED if newer exists.
        state:
          $ref: '#/components/schemas/SubmittalState'
        created_by:
          type: string
          format: uuid
          description: |
            UUID of the recruiter actor that created the submittal,
            derived from the JWT auth context.
        justification:
          oneOf:
            - $ref: '#/components/schemas/JustificationText'
            - type: 'null'
          description: |
            Worth Considering tier justification. Optional at PR-3's
            create endpoint; enforced at F34's confirm for Worth
            Considering tier.
        failed_criterion_acknowledgments:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/FailedCriterionAcknowledgment'
            - type: 'null'
          description: |
            Per-criterion acknowledgments for Worth Considering submittals.
            Optional at PR-3's create endpoint; enforced at F34's confirm
            for Worth Considering tier.
        created_at:
          type: string
          format: date-time
        confirmed_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
          description: |
            Timestamp at which the recruiter confirmed the submittal via
            F34's confirm endpoint. Null until confirm.
        revoked_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
          description: |
            M4 PR-7 — Timestamp at which the recruiter revoked the
            submittal via the submittal-revoke endpoint. Null until
            revoke; populated atomically with state='revoked' and
            revoked_by + revocation_justification.
        revoked_by:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
          description: |
            M4 PR-7 — UUID of the recruiter actor that revoked the
            submittal, derived from the JWT auth context. Null until
            revoke.
        revocation_justification:
          oneOf:
            - type: string
            - type: 'null'
          description: |
            M4 PR-7 — Recruiter-authored rationale for the revoke.
            Persisted verbatim from the RevokeSubmittalRequest body.
            Null until revoke.

    # CreateSubmittalRequest body. The talent + job IDs flow from the
    # request body; tenant + recruiter identity flow from the JWT.
    CreateSubmittalRequest:
      type: object
      additionalProperties: false
      required:
        - talent_id
        - job_id
        - examination_id
        - talent_identity
        - contact_summary
        - capability_summary_overrides
        - recruiter_contribution
      properties:
        talent_id:
          type: string
          format: uuid
        job_id:
          type: string
          format: uuid
        examination_id:
          type: string
          format: uuid
          description: |
            The TalentJobExamination snapshot the submittal pins. The
            builder verifies presence + active lifecycle + tenant match
            and rejects Stretch tier with 422 SUBMITTAL_STRETCH_BLOCKED.
        talent_identity:
          type: object
          additionalProperties: false
          required: [full_name, location]
          properties:
            full_name:
              type: string
              minLength: 1
            preferred_name:
              type: string
            location:
              type: string
              minLength: 1
        contact_summary:
          type: object
          additionalProperties: false
          required: [contact_available, channels_verified]
          properties:
            contact_available:
              type: boolean
            channels_verified:
              type: array
              items:
                type: string
        capability_summary_overrides:
          type: object
          additionalProperties: false
          required: [key_work_history]
          properties:
            key_work_history:
              type: array
              items:
                type: object
                additionalProperties: false
                required: [employer_name, role_title]
                properties:
                  employer_name:
                    type: string
                  role_title:
                    type: string
                  start_date:
                    type: string
                  end_date:
                    type: string
            certifications:
              type: array
              items:
                type: string
        match_justification_overrides:
          type: object
          additionalProperties: false
          properties:
            why_this_talent:
              type: string
            strengths:
              type: array
              items:
                type: string
            gaps:
              type: array
              items:
                type: string
            risk_flags:
              type: array
              items:
                $ref: '#/components/schemas/RiskFlag'
        recruiter_contribution:
          type: object
          additionalProperties: false
          required: [conversation_summary, talent_confirmed]
          properties:
            screening_notes:
              type: string
            conversation_summary:
              type: object
              additionalProperties: false
              required: [recruiter_summary]
              properties:
                recruiter_summary:
                  type: string
                  minLength: 1
            talent_confirmed:
              type: object
              additionalProperties: false
              required: [spoken_to_recruiter]
              properties:
                spoken_to_recruiter:
                  type: boolean
                availability_confirmed:
                  type: string
                work_authorization:
                  type: string
                  description: |
                    Recruiter-authored free string. NOT a join to the
                    TalentWorkAuthorization Sensitive entity (F16
                    deferral to M6 intact).
        rate_expectation_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
        engagement_event_refs:
          type: array
          items:
            type: string
            format: uuid
        justification:
          $ref: '#/components/schemas/JustificationText'
        failed_criterion_acknowledgments:
          type: array
          items:
            $ref: '#/components/schemas/FailedCriterionAcknowledgment'

    CreateSubmittalResponse:
      type: object
      additionalProperties: false
      required:
        - submittal
      properties:
        submittal:
          $ref: '#/components/schemas/TalentSubmittalRecord'

    # =====================================================================
    # M4 PR-4 — Submittal confirm endpoint surfaces.
    #
    # Recruiter attestations + confirm request/response shapes for POST
    # /v1/submittals/{submittal_id}/confirm. Per directive §11 self-audit
    # resolution: each attestation is documented as `const: true` so the
    # OpenAPI contract matches the locked-value invariant; runtime
    # enforcement happens in SubmittalController.confirmSubmittal (the
    # manual 3-line check throwing ATTESTATION_MISSING 422 directly,
    # bypassing class-validator's VALIDATION_ERROR path).
    # =====================================================================

    RecruiterAttestations:
      type: object
      additionalProperties: false
      description: |
        Three recruiter attestations required for submittal confirm
        (Group 2 §2.6 — recruiter must affirm evidence reviewed,
        constraints reviewed, and submittal-risk acknowledged). Each
        field is locked to literal `true`; any other value (false, null,
        omitted) yields HTTP 422 ATTESTATION_MISSING at the controller
        boundary.
      required:
        - talent_evidence_reviewed
        - constraints_reviewed
        - submittal_risk_acknowledged
      properties:
        talent_evidence_reviewed:
          type: boolean
          const: true
          description: |
            Recruiter affirms the talent's underlying evidence package
            has been reviewed for accuracy.
        constraints_reviewed:
          type: boolean
          const: true
          description: |
            Recruiter affirms the §2.5 entrustability constraints
            (location, work mode, rate, work authorization) were
            reviewed against the requisition.
        submittal_risk_acknowledged:
          type: boolean
          const: true
          description: |
            Recruiter acknowledges any risk flags surfaced on the
            pinned examination and accepts responsibility for the
            submittal.

    ConfirmSubmittalRequest:
      type: object
      additionalProperties: false
      required:
        - attestations
      properties:
        attestations:
          $ref: '#/components/schemas/RecruiterAttestations'

    ConfirmSubmittalResponse:
      type: object
      additionalProperties: false
      required:
        - submittal
      properties:
        submittal:
          $ref: '#/components/schemas/TalentSubmittalRecord'

    # =====================================================================
    # M4 PR-7 — Submittal revoke endpoint surfaces.
    #
    # POST /v1/submittals/{submittal_id}/revoke transitions a
    # TalentSubmittalRecord from state='submitted' to state='revoked'
    # and stamps revoked_at + revoked_by + revocation_justification
    # atomically. The response carries the locked invariant
    # `evidence_package_mutated: const: false` — every successful revoke
    # affirms that the referenced TalentJobEvidencePackage row is
    # byte-identical to its pre-revoke snapshot (state-isolation
    # contract, mirroring the override-create endpoint's
    # `examination_mutated: false` invariant from M4 PR-5).
    #
    # Inline constraints on RevokeSubmittalRequest.revocation_justification
    # (minLength: 1, maxLength: 2000) are inlined rather than referencing
    # the JustificationText schema, per directive §4.5 — Worth
    # Considering submittal justification (JustificationText) and revoke
    # justification are distinct conceptual surfaces that happen to
    # share the same envelope today.
    # =====================================================================

    RevokeSubmittalRequest:
      type: object
      additionalProperties: false
      required:
        - revocation_justification
      properties:
        revocation_justification:
          type: string
          minLength: 1
          maxLength: 2000
          description: |
            Recruiter-authored rationale for the revoke. Persisted
            verbatim into TalentSubmittalRecord.revocation_justification.

    RevokeSubmittalResponse:
      type: object
      additionalProperties: false
      required:
        - submittal
        - evidence_package_mutated
      properties:
        submittal:
          $ref: '#/components/schemas/TalentSubmittalRecord'
        evidence_package_mutated:
          type: boolean
          const: false
          description: |
            LOCKED invariant per Aramo-M4-PR-7-Directive-v1_0-LOCKED.md
            §4.4: a submittal revoke never mutates the referenced
            TalentJobEvidencePackage row. The controller emits the
            literal `false` on every successful revoke; the const lock
            prevents accidental drift. Mirrors the
            `examination_mutated: false` invariant on the M4 PR-5
            override-create response.

    # =====================================================================
    # M4 PR-5 — Examination override endpoint surfaces.
    #
    # POST /v1/examinations/{examination_id}/overrides records a recruiter-
    # authored override on an active examination WITHOUT mutating the
    # immutable TalentJobExamination row (Group 2 §2.4-§2.5 write-isolation
    # contract). The CreateOverrideResponse carries the locked invariant
    # examination_mutated: const: false — every successful create response
    # affirms that the referenced examination row is byte-identical to its
    # pre-create snapshot.
    # =====================================================================

    OverrideType:
      type: string
      description: |
        Closed enum (M4 PR-5 directive §4.1): the four categories a
        recruiter may override on an examination. Future PRs do not add
        values to this enum without Architect-reviewed PR.
      enum:
        - tier
        - risk_flag
        - gap
        - constraint_check

    ExaminationOverride:
      type: object
      additionalProperties: false
      required:
        - id
        - tenant_id
        - examination_id
        - override_type
        - target_field
        - justification
        - created_by
        - created_at
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        examination_id:
          type: string
          format: uuid
        override_type:
          $ref: '#/components/schemas/OverrideType'
        target_field:
          type: string
          minLength: 1
          maxLength: 200
        justification:
          type: string
          minLength: 1
          maxLength: 2000
        created_by:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    CreateOverrideRequest:
      type: object
      additionalProperties: false
      required:
        - override_type
        - target_field
        - justification
      properties:
        override_type:
          $ref: '#/components/schemas/OverrideType'
        target_field:
          type: string
          minLength: 1
          maxLength: 200
          description: |
            The analytical surface the recruiter is annotating (e.g.
            'tier', 'risk_flags[0]', a constraint check field name).
            Free-form string at PR-5; future PRs may enforce semantic
            validity per override_type and emit OVERRIDE_INVALID (422).
        justification:
          type: string
          minLength: 1
          maxLength: 2000
          description: |
            Recruiter-authored rationale for the override. Persisted
            verbatim; not interpreted by the substrate.

    CreateOverrideResponse:
      type: object
      additionalProperties: false
      required:
        - override
        - examination_mutated
      properties:
        override:
          $ref: '#/components/schemas/ExaminationOverride'
        examination_mutated:
          type: boolean
          const: false
          description: |
            LOCKED invariant per Plan v1.5 §M4 Track B item 2: an
            override write never mutates the referenced
            TalentJobExamination row. The controller emits the literal
            `false` on every successful create; the const lock prevents
            accidental drift.

    # =====================================================================
    # M5 PR-4 — Engagement HTTP surface schemas.
    #
    # The TalentJobEngagement entity (M5 PR-1 substrate) is the workflow-
    # state row carrying the 11-state engagement state machine per Group 2
    # §2.3b Part 2 Loops 1-5. The TalentEngagementEvent entity (M5 PR-2
    # substrate) is the append-only event log. M5 PR-3 added write paths
    # (createEngagement + transitionState) at the repository layer. M5 PR-4
    # exposes both via 4 HTTP endpoints: POST /v1/engagements (create),
    # POST /v1/engagements/{id}/transitions (state transition), GET
    # /v1/engagements/{id} (read), GET /v1/engagements/{id}/events
    # (read event log).
    #
    # All endpoints are recruiter-only per Charter v1.2 §4.3 row 4 + Group
    # 2 §2.3b Part 2 (recruiter-driven workflow). consumer_type !==
    # 'recruiter' → INSUFFICIENT_PERMISSIONS 403.
    # =====================================================================

    EngagementStateValue:
      type: string
      description: |
        11-state engagement state machine per Group 2 §2.3b Part 2 Loops
        1-5 verbatim. Closed list; future state additions require
        Architect-reviewed PR per M5 PR-1 Directive Amendment v1.1 §2.
      enum:
        - surfaced
        - evaluated
        - engaged
        - maybe
        - passed
        - awaiting_response
        - responded
        - in_conversation
        - not_interested
        - ready_for_submittal
        - submitted

    EngagementEventTypeValue:
      type: string
      description: |
        4-value event type closed list per M5 PR-2 §4.3 +
        Charter v1.2 §4.4 Ruling D event-log scope.
      enum:
        - state_transition
        - outreach_sent
        - response_received
        - conversation_started

    TalentJobEngagementView:
      type: object
      additionalProperties: false
      required:
        - id
        - tenant_id
        - talent_id
        - requisition_id
        - examination_id
        - state
        - created_at
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        requisition_id:
          type: string
          format: uuid
        examination_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
          description: |
            Nullable per M5 PR-1 Ruling 5 + Amendment v1.1 — engagement
            may exist before examination is computed; pin-verify lands
            at M5 PR-8.
        state:
          $ref: '#/components/schemas/EngagementStateValue'
        created_at:
          type: string
          format: date-time

    TalentEngagementEventView:
      type: object
      additionalProperties: false
      required:
        - id
        - tenant_id
        - engagement_id
        - event_type
        - event_payload
        - created_at
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        engagement_id:
          type: string
          format: uuid
        event_type:
          $ref: '#/components/schemas/EngagementEventTypeValue'
        event_payload:
          type: object
          additionalProperties: true
          description: |
            Per-event-type JSONB payload. Shape varies by event_type;
            consumers narrow at consumption sites. For
            event_type='state_transition' the payload is
            { from_state: EngagementStateValue | null, to_state:
            EngagementStateValue } per M5 PR-3 substrate.
        created_at:
          type: string
          format: date-time

    CreateEngagementRequest:
      type: object
      additionalProperties: false
      required:
        - talent_id
        - requisition_id
      properties:
        talent_id:
          type: string
          format: uuid
          description: |
            Pattern C cross-schema validator: TalentRepository
            .findOverlayByTenant({ talent_id, tenant_id }); overlay
            absence → 422 ENGAGEMENT_REFERENCE_NOT_FOUND.
        requisition_id:
          type: string
          format: uuid
          description: |
            Pattern A cross-schema validator: JobDomainRepository
            .findRequisitionById(id) + app-layer tenant_id cross-check;
            null or mismatch → 422 ENGAGEMENT_REFERENCE_NOT_FOUND.
        examination_id:
          type: string
          format: uuid
          description: |
            Optional. Pattern B cross-schema validator:
            ExaminationRepository.findById(id) + app-layer tenant_id
            cross-check; null or mismatch → 422
            ENGAGEMENT_REFERENCE_NOT_FOUND.

    CreateEngagementResponse:
      type: object
      additionalProperties: false
      required:
        - engagement
      properties:
        engagement:
          $ref: '#/components/schemas/TalentJobEngagementView'
          description: |
            Per M5 PR-4 Ruling 9: response shape is { engagement } only.
            Repository-layer CreateEngagementResult returns
            { engagement, event }; the controller projects only the
            engagement view at the HTTP boundary. The initial event row
            is accessible via GET /v1/engagements/{id}/events.

    TransitionEngagementRequest:
      type: object
      additionalProperties: false
      required:
        - to_state
        - event_id
      properties:
        to_state:
          $ref: '#/components/schemas/EngagementStateValue'
          description: |
            Target state. Closed-list validated against the 11-state
            enum; illegal-transition refusal (422
            ENGAGEMENT_STATE_INVALID) is enforced at the repository
            layer via canTransition (M5 PR-1 Amendment v1.1 §4).
            Column-scoped DB-trigger is defense-in-depth.
        event_id:
          type: string
          format: uuid
          description: |
            Idempotent event_id for the transition event row.
            Consumer-supplied for traceability across replay scenarios.

    TransitionEngagementResponse:
      type: object
      additionalProperties: false
      required:
        - engagement
      properties:
        engagement:
          $ref: '#/components/schemas/TalentJobEngagementView'
          description: |
            Per M5 PR-4 Ruling 9 + Ruling 11: response shape is
            { engagement } only. NO state-isolation literal field
            (engagement_unrelated_columns_mutated) — the column-scoped
            immutability trigger at the DB layer (PR-1 substrate)
            enforces the invariant; HTTP contract affirmation omitted
            for noise reduction.

    EngagementListEventsResponse:
      type: object
      additionalProperties: false
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/TalentEngagementEventView'
          description: |
            Chronological event log for an engagement. Order: ASC by
            created_at (mirrors EngagementEventRepository
            .findByEngagementId repository-layer ordering).
