openapi: 3.1.0
info:
  title: Aramo Common API
  version: 0.1.0
  description: |
    Universal endpoints used by all external consumers
    (ATS, Portal, Ingestion adapters).

    PR-2 introduces the first endpoint (POST /consent/grant) and the
    locked nested error envelope with a closed 6-code subset of the
    locked 36-code registry. PR-3 adds POST /consent/revoke as the
    second endpoint and defines the canonical revoke contract per
    Group 2 §2.7. Future PRs extend the path set; new error codes
    require Architect-reviewed PR.

servers:
  - url: https://api.aramo.ai/v1
  - url: https://staging-api.aramo.ai/v1

tags:
  - name: Consent
    description: |
      Consent ledger endpoints. The consent module is the runtime
      enforcement point for Charter refusals R4 (no consent inference
      from behavior), R6 (no acting on stale consent), R11 and R13
      (consent integrity over engagement velocity).

security:
  - BearerAuth: []

paths:
  /consent/grant:
    post:
      operationId: grantConsent
      tags: [Consent]
      summary: Record a consent grant event
      description: |
        Append-only write to the TalentConsentEvent ledger. The action
        is set server-side to "granted"; the request body does not
        accept a writable action field. Idempotent per the
        program-wide Idempotency-Key precedent (PR-2 #7): same
        Idempotency-Key + same body returns the original response;
        same key + different body returns 409.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: |
            Required per program-wide idempotency precedent. Replays
            return the original response. Same key with a different
            request hash returns 409 IDEMPOTENCY_KEY_CONFLICT.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: |
            Optional. Generated server-side as UUID v7 if absent. Echoed
            on outgoing responses and threaded into error envelopes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentGrantRequest'
      responses:
        '201':
          description: Consent event recorded
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentGrantResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/revoke:
    post:
      operationId: revokeConsent
      tags: [Consent]
      summary: Record a consent revocation event
      description: |
        Append-only write to the TalentConsentEvent ledger. The
        action is set server-side to "revoked"; the request body
        does not accept a writable action field. Inside the same
        transaction, the server performs a single-event lookup for
        the most recent prior grant event by (tenant_id, talent_id,
        scope) and records its id as `revoked_event_id` in the
        response, audit, and outbox payloads. If no prior grant
        exists, `revoked_event_id` is null (revoke without grant is
        allowed).

        Audit payload follows Group 2 §2.7 canonical structure:
        `revoked_event_id`, `in_flight_operations_halted: []`
        (empty until the engagement-halt worker exists),
        `propagation_completed_at: null` (deferred until propagation
        is implemented).

        Idempotent per the program-wide Idempotency-Key precedent:
        same key + same body returns the original response; same
        key + different body returns 409.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentRevokeRequest'
      responses:
        '201':
          description: Consent revocation event recorded
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentRevokeResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/check:
    post:
      operationId: checkConsent
      tags: [Consent]
      summary: Runtime consent check for an intended operation
      description: |
        Resolver-path read endpoint. Computes the consent decision
        for an intended operation against the talent's consent
        ledger state. Per API Contracts Phase 1 §6 Processing
        Rules: resolves tenant from JWT, derives required scope
        from operation (Group 2 §2.7 Enforcement Points), validates
        scope dependencies, applies source-aware most-restrictive
        derivation, applies staleness rule (12 months, contacting
        scope only), applies channel constraints when scope is
        contacting, returns allowed/denied/error result, persists
        a decision-log audit row with the decision_id.

        Per Phase 1 §6 Consent Failure Mode (Locked): Aramo fails
        safe, never open. Resolver timeout or unexpected error
        returns HTTP 500; never falls back to "allowed".

        Idempotency is OPTIONAL per Phase 1 §6 (line 497). When a
        valid Idempotency-Key is provided AND a prior request used
        the same key + same body, the original response is returned
        from the idempotency table without re-running the resolver
        or emitting a new decision-log entry. Same key + different
        body returns 409 IDEMPOTENCY_KEY_CONFLICT. When absent,
        every call runs the resolver and writes a fresh
        decision-log entry.

        Returns 200 for allowed/denied/error decisions (the result
        is in the body's `result` field). Returns 422
        INVALID_SCOPE_COMBINATION with the ConsentDecision embedded
        in `error.details.consent_decision` when a scope dependency
        chain is unmet. Returns 403 only for caller-side blocks
        (tenant access denial); consent denial is 200 with
        `result: "denied"`.
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: |
            Optional per Phase 1 §6. When present, the call is
            idempotent: same key + same body returns the original
            ConsentDecision; same key + different body returns 409.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentCheckRequest'
      responses:
        '200':
          description: |
            Consent decision computed. The body's `result` field
            discriminates allowed/denied/error.
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentDecision'
        '400':
          description: Validation error (e.g., missing channel for contacting operation)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked, NOT consent denial)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: |
            Invalid scope combination — scope dependency chain
            unmet. The error envelope embeds the ConsentDecision
            in `error.details.consent_decision` per Phase 1 §1
            canonical embedding pattern.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure; per Consent Failure Mode locked, NOT a fallback to allowed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/state/{talent_id}:
    get:
      operationId: getTalentConsentState
      tags: [Consent]
      summary: Return current consent state per scope for a talent
      description: |
        Informational read endpoint. Returns the current consent
        state per scope for the requested talent within the JWT's
        tenant context. Always returns all 5 ConsentScope values;
        scopes without ledger events return status: "no_grant"
        (Decision D, PR-5).

        Per ADR-0006 Decision D, the resolver applies source-aware
        most-restrictive intersection across captured_method
        partitions to derive each scope's state. Per ADR-0006
        Precedent O, the resolver-region allow-list covers the
        batch findMany call.

        Idempotency: N/A per Phase 1 §6 endpoint table (line 500).
        No request body. talent_id is a path parameter (UUID).

        This is the program's first informational read endpoint.
        Per Decision H (PR-5), informational endpoints do NOT
        write decision-log audit entries; only enforcement
        endpoints (check/grant/revoke) do. ADR-0007 (forthcoming
        retroactive PR) documents this distinction.

        Multi-tenant honesty (Group 2 §2.8): the response covers
        ONLY the JWT's tenant_id. Callers needing multi-tenant
        view issue multiple per-tenant calls, matching ADR-0006
        Decision J's "partial consent NOT flattened" pattern.

        Right-to-be-forgotten (Decision F, PR-5): the endpoint
        continues to function for anonymized talent_ids and
        signals anonymization via is_anonymized at root level.
        PR-5 limitation: the talent module providing identity-
        existence detection does not exist yet, so is_anonymized
        is always false in PR-5. The schema field is in place
        for forward-compatibility.
      parameters:
        - name: talent_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Current consent state per scope (always 5 entries)
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TalentConsentStateResponse'
        '400':
          description: Invalid talent_id (not a UUID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/history/{talent_id}:
    get:
      operationId: getTalentConsentHistory
      tags: [Consent]
      summary: Return consent ledger event history for a talent
      description: |
        Informational read endpoint. Returns the consent ledger
        events for the requested talent within the JWT's tenant
        context, ordered by row insertion time (created_at DESC,
        event_id DESC).

        Pagination is keyset-based via an opaque cursor encoding
        the last item of the prior page. The cursor is opaque to
        consumers; its internal structure is not part of the API
        contract and may evolve without versioning. The API/DTO
        surface uses `event_id`; the underlying DB column is `id`.

        Per directive §6, ordering and pagination execute in the
        database; the schema includes the supporting index
        (tenant_id, talent_id, created_at DESC, id DESC).

        Per ADR-0007 Decision E (extended to history): historical
        events preserve their original status. Staleness is
        enforcement metadata applied at check time only and is
        never written into historical records.

        Per ADR-0007 Decision H (read-vs-enforcement distinction):
        this endpoint does NOT write decision-log entries.
        Idempotency: N/A.

        Right-to-be-forgotten (Decision F, hardcoded false in
        PR-6): is_anonymized signals identity removal. Always
        false in PR-6; the talent module providing detection does
        not exist yet. Schema field present for forward-
        compatibility.

        Empty history returns 200 with
        { events: [], next_cursor: null, is_anonymized: false }.
        Never 404 on empty.
      parameters:
        - name: talent_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scope
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ConsentScope'
          description: |
            Optional, single-valued filter. When present, only events
            for the named scope are returned. Filter is applied before
            pagination; the cursor traverses the filtered set.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: |
            Page size. Omitted → 50; > 200 → clamped to 200; < 1 or
            non-integer → HTTP 400 VALIDATION_ERROR.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: |
            Opaque pagination cursor. Pass the next_cursor from the
            previous response to fetch the next page. Invalid cursors
            (non-base64, malformed, structurally invalid) return HTTP
            400 VALIDATION_ERROR; never 500.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: |
            Consent history page. The response is wrapped (events array
            plus metadata); empty history returns 200 with empty array.
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentHistoryResponse'
        '400':
          description: |
            Validation error (invalid talent_id, invalid limit,
            invalid cursor)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/decision-log/{talent_id}:
    get:
      operationId: getTalentConsentDecisionLog
      tags: [Consent]
      summary: Return consent decision-log audit-event entries for a talent
      description: |
        Informational read endpoint. Returns the audit-event entries
        recorded for the requested talent within the JWT's tenant
        context, ordered by row insertion time
        (created_at DESC, event_id DESC).

        Reads from the consentAuditEvent table. The endpoint is
        read-only; per ADR-0007 Decision H — sharpest in PR-7 because
        the endpoint reads the very table the convention prohibits
        writing to — it does NOT write decision-log entries.
        Idempotency: N/A.

        Pagination is keyset-based via an opaque cursor encoding the
        last item of the prior page. The cursor is opaque to consumers
        and shares its encoding contract with /consent/history; clients
        cannot distinguish history cursors from decision-log cursors.

        Field name mapping (PR-7 §5):
          DB id          → API event_id   (PR-6 precedent)
          DB subject_id  → API talent_id  (PR-7 exception)

        event_payload is opaque JSON pass-through; clients inspect it
        for finer-grained selection. The directive forbids extraction
        or transformation of payload fields into top-level entry
        fields.

        event_type is a closed set per PR-7 §7 + ADR-0009 §4 four-clause
        principle: {consent.grant.recorded, consent.revoke.recorded,
        consent.check.decision}. Adding a value requires a directive
        amendment. actor_type is similarly closed:
        {recruiter, self, system}.

        Right-to-be-forgotten (Decision F, hardcoded false in PR-7):
        is_anonymized signals identity removal. Always false in PR-7;
        the talent module providing detection does not exist yet.

        Empty decision log returns 200 with
        { entries: [], next_cursor: null, is_anonymized: false }.
        Never 404 on empty (ADR-0007 Decision D).
      parameters:
        - name: talent_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - consent.grant.recorded
              - consent.revoke.recorded
              - consent.check.decision
          description: |
            Optional, single-valued filter. When present, only
            audit-event entries matching the named event_type are
            returned. Filter is applied before pagination; the cursor
            traverses the filtered set. Multi-valued filtering is
            explicitly out of scope.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: |
            Page size. Omitted → 50; > 200 → clamped to 200; < 1 or
            non-integer → HTTP 400 VALIDATION_ERROR.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: |
            Opaque pagination cursor. Pass the next_cursor from the
            previous response to fetch the next page. Invalid cursors
            (non-base64, malformed, structurally invalid) return HTTP
            400 VALIDATION_ERROR; never 500.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: |
            Consent decision-log page. The response is wrapped (entries
            array plus metadata); empty decision log returns 200 with
            empty array.
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentDecisionLogResponse'
        '400':
          description: |
            Validation error (invalid talent_id, invalid event_type,
            invalid limit, invalid cursor)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied (caller-blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: System error (resolver failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ConsentScope:
      type: string
      description: |
        Closed enum (Group 2 §2.2): the five consent scopes. Future PRs
        do not add values to this enum without Architect-reviewed PR.
      enum:
        - profile_storage
        - resume_processing
        - matching
        - contacting
        - cross_tenant_visibility

    ConsentDecisionAction:
      type: string
      description: |
        Closed enum (Group 2 §2.2): three lifecycle actions. PR-2 writes
        "granted"; PR-3 writes "revoked"; the staleness background job
        is the future writer of "expired".
      enum:
        - granted
        - revoked
        - expired

    ConsentCapturedMethod:
      type: string
      description: |
        Closed enum (Group 2 §2.2): four capture methods, mapping to the
        flow that produced the consent decision.
      enum:
        - self_signup
        - recruiter_capture
        - upload_flow
        - import

    ContactChannel:
      type: string
      description: |
        Closed enum of contact channels permitted under the contacting
        consent scope. Locked at API Contracts Phase 1 §1. ContactChannel
        is a dimension within contacting scope, not a separate scope.
        Used by /consent/check (PR-4) for channel constraint validation
        when the derived scope is contacting.
      enum:
        - email
        - phone
        - sms
        - indeed
        - portal
        - other

    ConsentCheckOperation:
      type: string
      description: |
        Closed enum of operations checkable via /consent/check. 7 values
        derived from Group 2 §2.7 Enforcement Points table. Each operation
        maps to exactly one required scope (Decision C, locked):
          ingestion    → profile_storage
          matching     → matching
          examination  → matching
          engagement   → contacting
          packaging    → contacting
          submittal    → contacting
          cross_tenant → cross_tenant_visibility
        Adding a value requires Architect approval per
        doc/02-claude-code-discipline.md Rule 4.
      enum:
        - ingestion
        - matching
        - examination
        - engagement
        - packaging
        - submittal
        - cross_tenant

    ConsentScopeStatus:
      type: string
      description: |
        Closed enum for current consent state per scope, derived by the
        resolver. PR-5 introduces this enum (8th in the program's
        vocabulary). Distinct from ConsentDecisionAction (which represents
        the action recorded on a write event); ConsentScopeStatus
        represents the state derived on a read.

        `no_grant` is unique to derivation — there is no
        TalentConsentEvent with action: "no_grant". This is why
        ConsentScopeStatus is a separate enum from ConsentDecisionAction,
        not a superset.

        Adding a value requires Architect approval per
        doc/02-claude-code-discipline.md Rule 4.
      enum:
        - granted
        - revoked
        - expired
        - no_grant

    ConsentGrantRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/grant. The `action` field is
        deliberately absent — server sets `action = granted`.
      required:
        - talent_id
        - scope
        - captured_method
        - consent_version
        - occurred_at
      properties:
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        consent_version:
          type: string
        consent_text_snapshot:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: |
            Per-event context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule (PR-2 schema
            checklist).

    ConsentGrantResponse:
      type: object
      additionalProperties: false
      required:
        - event_id
        - tenant_id
        - talent_id
        - scope
        - action
        - captured_method
        - consent_version
        - occurred_at
        - recorded_at
      properties:
        event_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          type: string
          const: granted
          description: |
            Locked: this endpoint always returns "granted". Future
            endpoints (PR-3 revoke) return their own action.
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        captured_by_actor_id:
          type: string
          format: uuid
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        recorded_at:
          type: string
          format: date-time
          description: |
            Server-side insertion timestamp (TalentConsentEvent.created_at).
            Distinct from occurred_at (when the consent decision happened).
        metadata:
          type: object
          additionalProperties: true
          description: |
            Echoed from the request. Documented OpenAPI exception to
            additionalProperties: false (PR-2 schema checklist).

    ConsentRevokeRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/revoke. The `action` field is
        deliberately absent — server sets `action = revoked`. The
        `expires_at` and `consent_text_snapshot` fields are also
        absent; both are grant-time concepts. Per PR-3 canonical
        contract.
      required:
        - talent_id
        - scope
        - captured_method
        - consent_version
        - occurred_at
      properties:
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: |
            Per-event context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule.

    ConsentRevokeResponse:
      type: object
      additionalProperties: false
      required:
        - event_id
        - tenant_id
        - talent_id
        - scope
        - action
        - captured_method
        - consent_version
        - occurred_at
        - recorded_at
        - revoked_event_id
      properties:
        event_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          type: string
          const: revoked
          description: |
            Locked: this endpoint always returns "revoked". Mirrors
            the grant endpoint's `const: granted` pattern.
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        captured_by_actor_id:
          type: string
          format: uuid
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        recorded_at:
          type: string
          format: date-time
          description: |
            Server-side insertion timestamp. Distinct from
            occurred_at (when the revocation decision happened).
        revoked_event_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
          description: |
            ID of the prior grant event being revoked. Server-derived
            via single-event lookup against the ledger for the latest
            matching granted event by (tenant_id, talent_id, scope).
            Null if no prior grant exists (revoke without grant is
            allowed per PR-3 Decision D).
        metadata:
          type: object
          additionalProperties: true
          description: |
            Echoed from the request. Documented OpenAPI exception to
            additionalProperties: false.

    ConsentCheckRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/check. Per Decision B,
        tenant_id is NOT a body field (resolved from JWT per Phase
        1 §1). The `channel` field is conditionally required when
        the operation maps to contacting scope (Decision G); the
        resolver returns 400 VALIDATION_ERROR if absent in that
        case.
      required:
        - talent_id
        - operation
      properties:
        talent_id:
          type: string
          format: uuid
        operation:
          $ref: '#/components/schemas/ConsentCheckOperation'
        channel:
          $ref: '#/components/schemas/ContactChannel'

    ConsentDecision:
      type: object
      additionalProperties: false
      description: |
        Locked response shape for POST /consent/check. Source: API
        Contracts Phase 1 §1 Common Schemas (lines 469-489). Returned
        directly in 200 responses. Embedded in
        error.details.consent_decision for 422 dependency-unmet
        responses (Phase 1 §1 canonical embedding pattern).

        `result` discriminates allowed/denied/error. `reason_code`
        carries the denial reason (e.g., "stale_consent",
        "scope_dependency_unmet", "channel_not_consented",
        "consent_state_unknown").
      required:
        - result
        - decision_id
        - computed_at
      properties:
        result:
          type: string
          enum:
            - allowed
            - denied
            - error
        scope:
          $ref: '#/components/schemas/ConsentScope'
        denied_scopes:
          type: array
          items:
            $ref: '#/components/schemas/ConsentScope'
        reason_code:
          type: string
        display_message:
          type: string
        log_message:
          type: string
        decision_id:
          type: string
          format: uuid
        computed_at:
          type: string
          format: date-time

    TalentConsentScopeState:
      type: object
      additionalProperties: false
      description: |
        Per-scope state in the /consent/state response. PR-5
        Decision C: universal common-API surface. Distinct from
        Phase 3's PortalConsentScopeState which adds Portal-only
        fields (`is_stale`, `display_label`).

        Timestamps:
          - granted_at: latest grant event's occurred_at, or null
                        if no grant event exists for this scope
          - revoked_at: latest revocation event's occurred_at,
                        or null if not revoked
          - expires_at: explicit expiration set on the controlling
                        grant event (TalentConsentEvent.expires_at);
                        null when absent
      required:
        - scope
        - status
      properties:
        scope:
          $ref: '#/components/schemas/ConsentScope'
        status:
          $ref: '#/components/schemas/ConsentScopeStatus'
        granted_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
        revoked_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
        expires_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'

    TalentConsentStateResponse:
      type: object
      additionalProperties: false
      description: |
        Wrapped response shape for GET /consent/state/{talent_id}
        (PR-5 Decision A). Metadata fields plus a `scopes` array
        that always contains all 5 ConsentScope values (Decision D:
        always-5-scopes deterministic response).

        `is_anonymized` is the right-to-be-forgotten signal
        (Decision F). PR-5 limitation: always false because the
        talent module providing identity-existence detection does
        not exist yet. Schema field present for forward-
        compatibility; future PRs wire detection.
      required:
        - talent_id
        - tenant_id
        - is_anonymized
        - computed_at
        - scopes
      properties:
        talent_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        is_anonymized:
          type: boolean
          description: |
            True if the talent identity has been removed
            (right-to-be-forgotten) but consent ledger events are
            retained per Group 2 §2.7. Always false in PR-5; the
            talent module that provides identity-existence
            detection does not exist yet.
        computed_at:
          type: string
          format: date-time
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/TalentConsentScopeState'

    ConsentHistoryEvent:
      type: object
      additionalProperties: false
      description: |
        Per-event entry in the /consent/history response (PR-6 §4).
        Field set is closed at exactly five fields; adding a field
        requires a new ADR (directive §9 halt condition).

        `event_id` is the API/DTO surface name; the underlying DB
        column is `id`. The mapping is documented in PR-6 §5 (the
        only renaming permitted in PR-6) and matches the precedent
        set by `ConsentRevokeResponse.event_id` and
        `ConsentDecision.decision_id`.

        `action` corresponds to ConsentDecisionAction values
        (granted | revoked | expired). Historical events preserve
        their original action; staleness is enforcement metadata
        applied at check time only and is never written into
        historical records (ADR-0007 Decision E extension).

        `expires_at` is nullable and originates from the underlying
        `TalentConsentEvent.expires_at` column.
      required:
        - event_id
        - scope
        - action
        - created_at
      properties:
        event_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          $ref: '#/components/schemas/ConsentDecisionAction'
        created_at:
          type: string
          format: date-time
        expires_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'

    ConsentHistoryResponse:
      type: object
      additionalProperties: false
      description: |
        Wrapped response shape for GET /consent/history/{talent_id}
        (PR-6 §4). Wrapped, never bare. Never 404 on empty.

        `next_cursor` is null when there are no more pages,
        otherwise an opaque base64url string. The internal cursor
        structure is not part of the API contract and may evolve
        without versioning.

        `is_anonymized` is the right-to-be-forgotten signal
        (ADR-0007 Decision F). Hardcoded `false` in PR-6; the
        talent module providing identity-existence detection does
        not exist yet. Schema field present for forward-
        compatibility.
      required:
        - events
        - next_cursor
        - is_anonymized
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/ConsentHistoryEvent'
        next_cursor:
          oneOf:
            - type: string
            - type: 'null'
        is_anonymized:
          type: boolean

    ConsentDecisionLogEntry:
      type: object
      additionalProperties: false
      description: |
        Per-entry shape for /consent/decision-log (PR-7 §4). Field set
        is closed (additionalProperties: false); only `event_payload`
        is open (heterogeneous JSON pass-through). Adding a field
        requires a directive amendment (PR-7 §11 halt condition).

        Field name mapping (PR-7 §5):
          DB id          → API event_id   (PR-6 precedent)
          DB subject_id  → API talent_id  (PR-7 exception)

        `event_type` is a closed set per PR-7 §7 + ADR-0009 §4.
        `actor_type` is a closed set: {recruiter, self, system}.
        Adding a value to either requires a directive amendment.

        `event_payload` is opaque JSON; clients inspect it for
        finer-grained selection. The directive forbids extracting or
        transforming payload fields into top-level entry fields.
      required:
        - event_id
        - talent_id
        - event_type
        - created_at
        - event_payload
      properties:
        event_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        event_type:
          type: string
          enum:
            - consent.grant.recorded
            - consent.revoke.recorded
            - consent.check.decision
        created_at:
          type: string
          format: date-time
        actor_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
        actor_type:
          type: string
          enum:
            - recruiter
            - self
            - system
        event_payload:
          type: object
          additionalProperties: true

    ConsentDecisionLogResponse:
      type: object
      additionalProperties: false
      description: |
        Wrapped response shape for GET /consent/decision-log/{talent_id}
        (PR-7 §4). Wrapped, never bare. Never 404 on empty (ADR-0007
        Decision D).

        `next_cursor` is null when there are no more pages, otherwise
        an opaque base64url string. The internal cursor structure is
        not part of the API contract and may evolve without
        versioning. Cursor encoding is shared with /consent/history;
        clients cannot distinguish history cursors from decision-log
        cursors (PR-7 §6 + ADR-0008 Decision B).

        `is_anonymized` is the right-to-be-forgotten signal (ADR-0007
        Decision F). Hardcoded `false` in PR-7; the talent module
        providing identity-existence detection does not exist yet.
        Schema field present for forward-compatibility.
      required:
        - entries
        - next_cursor
        - is_anonymized
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/ConsentDecisionLogEntry'
        next_cursor:
          oneOf:
            - type: string
            - type: 'null'
        is_anonymized:
          type: boolean

    ErrorCode:
      type: string
      description: |
        Closed subset of the locked 36-code error registry (API
        Contracts Phase 5). Drawn incrementally; adding a new code
        requires Architect approval per
        doc/02-claude-code-discipline.md Rule 4. INTERNAL_ERROR is
        the registry's catch-all for unexpected 5xx failures (Phase 5
        "System & Processing" category). PR-3.2 adds
        INVALID_SCOPE_COMBINATION (HTTP 422) for consent scope
        dependency violations on /consent/check (PR-4).

        PR-8.0a-Reground adds TENANT_SELECTION_REQUIRED (HTTP 409)
        and REFRESH_TOKEN_INVALID (HTTP 401) for the auth-service
        /callback and /refresh endpoints respectively. Declaration
        order in this enum matches ERROR_CODES tuple order in
        libs/common/src/lib/errors/error-codes.ts.
      enum:
        - AUTH_REQUIRED
        - INVALID_TOKEN
        - TENANT_ACCESS_DENIED
        - VALIDATION_ERROR
        - IDEMPOTENCY_KEY_CONFLICT
        - INTERNAL_ERROR
        - INVALID_SCOPE_COMBINATION
        - TENANT_SELECTION_REQUIRED
        - REFRESH_TOKEN_INVALID

    ErrorObject:
      type: object
      additionalProperties: false
      required: [code, message, request_id, details]
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
        display_message:
          type: string
        log_message:
          type: string
        request_id:
          type: string
          format: uuid
        details:
          type: object
          additionalProperties: true
          description: |
            Per-error context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule.

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
