openapi: 3.1.0
info:
  title: Aramo Common API
  version: 0.1.0
  description: |
    Universal endpoints used by all external consumers
    (ATS, Portal, Ingestion adapters).

    PR-2 introduces the first endpoint (POST /consent/grant) and the
    locked nested error envelope with a closed 6-code subset of the
    locked 36-code registry. PR-3 adds POST /consent/revoke as the
    second endpoint and defines the canonical revoke contract per
    Group 2 §2.7. Future PRs extend the path set; new error codes
    require Architect-reviewed PR.

servers:
  - url: https://api.aramo.ai/v1
  - url: https://staging-api.aramo.ai/v1

tags:
  - name: Consent
    description: |
      Consent ledger endpoints. The consent module is the runtime
      enforcement point for Charter refusals R4 (no consent inference
      from behavior), R6 (no acting on stale consent), R11 and R13
      (consent integrity over engagement velocity).

security:
  - BearerAuth: []

paths:
  /consent/grant:
    post:
      operationId: grantConsent
      tags: [Consent]
      summary: Record a consent grant event
      description: |
        Append-only write to the TalentConsentEvent ledger. The action
        is set server-side to "granted"; the request body does not
        accept a writable action field. Idempotent per the
        program-wide Idempotency-Key precedent (PR-2 #7): same
        Idempotency-Key + same body returns the original response;
        same key + different body returns 409.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: |
            Required per program-wide idempotency precedent. Replays
            return the original response. Same key with a different
            request hash returns 409 IDEMPOTENCY_KEY_CONFLICT.
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: |
            Optional. Generated server-side as UUID v7 if absent. Echoed
            on outgoing responses and threaded into error envelopes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentGrantRequest'
      responses:
        '201':
          description: Consent event recorded
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentGrantResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /consent/revoke:
    post:
      operationId: revokeConsent
      tags: [Consent]
      summary: Record a consent revocation event
      description: |
        Append-only write to the TalentConsentEvent ledger. The
        action is set server-side to "revoked"; the request body
        does not accept a writable action field. Inside the same
        transaction, the server performs a single-event lookup for
        the most recent prior grant event by (tenant_id, talent_id,
        scope) and records its id as `revoked_event_id` in the
        response, audit, and outbox payloads. If no prior grant
        exists, `revoked_event_id` is null (revoke without grant is
        allowed).

        Audit payload follows Group 2 §2.7 canonical structure:
        `revoked_event_id`, `in_flight_operations_halted: []`
        (empty until the engagement-halt worker exists),
        `propagation_completed_at: null` (deferred until propagation
        is implemented).

        Idempotent per the program-wide Idempotency-Key precedent:
        same key + same body returns the original response; same
        key + different body returns 409.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Request-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentRevokeRequest'
      responses:
        '201':
          description: Consent revocation event recorded
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentRevokeResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Tenant access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Idempotency key conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ConsentScope:
      type: string
      description: |
        Closed enum (Group 2 §2.2): the five consent scopes. Future PRs
        do not add values to this enum without Architect-reviewed PR.
      enum:
        - profile_storage
        - resume_processing
        - matching
        - contacting
        - cross_tenant_visibility

    ConsentDecisionAction:
      type: string
      description: |
        Closed enum (Group 2 §2.2): three lifecycle actions. PR-2 writes
        "granted"; PR-3 writes "revoked"; the staleness background job
        is the future writer of "expired".
      enum:
        - granted
        - revoked
        - expired

    ConsentCapturedMethod:
      type: string
      description: |
        Closed enum (Group 2 §2.2): four capture methods, mapping to the
        flow that produced the consent decision.
      enum:
        - self_signup
        - recruiter_capture
        - upload_flow
        - import

    ContactChannel:
      type: string
      description: |
        Closed enum of contact channels permitted under the contacting
        consent scope. Locked at API Contracts Phase 1 §1. ContactChannel
        is a dimension within contacting scope, not a separate scope.
        Used by /consent/check (PR-4) for channel constraint validation
        when the derived scope is contacting.
      enum:
        - email
        - phone
        - sms
        - indeed
        - portal
        - other

    ConsentGrantRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/grant. The `action` field is
        deliberately absent — server sets `action = granted`.
      required:
        - talent_id
        - scope
        - captured_method
        - consent_version
        - occurred_at
      properties:
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        consent_version:
          type: string
        consent_text_snapshot:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: |
            Per-event context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule (PR-2 schema
            checklist).

    ConsentGrantResponse:
      type: object
      additionalProperties: false
      required:
        - event_id
        - tenant_id
        - talent_id
        - scope
        - action
        - captured_method
        - consent_version
        - occurred_at
        - recorded_at
      properties:
        event_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          type: string
          const: granted
          description: |
            Locked: this endpoint always returns "granted". Future
            endpoints (PR-3 revoke) return their own action.
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        captured_by_actor_id:
          type: string
          format: uuid
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        recorded_at:
          type: string
          format: date-time
          description: |
            Server-side insertion timestamp (TalentConsentEvent.created_at).
            Distinct from occurred_at (when the consent decision happened).
        metadata:
          type: object
          additionalProperties: true
          description: |
            Echoed from the request. Documented OpenAPI exception to
            additionalProperties: false (PR-2 schema checklist).

    ConsentRevokeRequest:
      type: object
      additionalProperties: false
      description: |
        Request body for POST /consent/revoke. The `action` field is
        deliberately absent — server sets `action = revoked`. The
        `expires_at` and `consent_text_snapshot` fields are also
        absent; both are grant-time concepts. Per PR-3 canonical
        contract.
      required:
        - talent_id
        - scope
        - captured_method
        - consent_version
        - occurred_at
      properties:
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: |
            Per-event context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule.

    ConsentRevokeResponse:
      type: object
      additionalProperties: false
      required:
        - event_id
        - tenant_id
        - talent_id
        - scope
        - action
        - captured_method
        - consent_version
        - occurred_at
        - recorded_at
        - revoked_event_id
      properties:
        event_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        talent_id:
          type: string
          format: uuid
        scope:
          $ref: '#/components/schemas/ConsentScope'
        action:
          type: string
          const: revoked
          description: |
            Locked: this endpoint always returns "revoked". Mirrors
            the grant endpoint's `const: granted` pattern.
        captured_method:
          $ref: '#/components/schemas/ConsentCapturedMethod'
        captured_by_actor_id:
          type: string
          format: uuid
        consent_version:
          type: string
        consent_document_id:
          type: string
          format: uuid
        occurred_at:
          type: string
          format: date-time
        recorded_at:
          type: string
          format: date-time
          description: |
            Server-side insertion timestamp. Distinct from
            occurred_at (when the revocation decision happened).
        revoked_event_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
          description: |
            ID of the prior grant event being revoked. Server-derived
            via single-event lookup against the ledger for the latest
            matching granted event by (tenant_id, talent_id, scope).
            Null if no prior grant exists (revoke without grant is
            allowed per PR-3 Decision D).
        metadata:
          type: object
          additionalProperties: true
          description: |
            Echoed from the request. Documented OpenAPI exception to
            additionalProperties: false.

    ErrorCode:
      type: string
      description: |
        Closed subset of the locked 36-code error registry (API
        Contracts Phase 5). Drawn incrementally; adding a new code
        requires Architect approval per
        doc/02-claude-code-discipline.md Rule 4. INTERNAL_ERROR is
        the registry's catch-all for unexpected 5xx failures (Phase 5
        "System & Processing" category). PR-3.2 adds
        INVALID_SCOPE_COMBINATION (HTTP 422) for consent scope
        dependency violations on /consent/check (PR-4).
      enum:
        - AUTH_REQUIRED
        - INVALID_TOKEN
        - TENANT_ACCESS_DENIED
        - VALIDATION_ERROR
        - IDEMPOTENCY_KEY_CONFLICT
        - INTERNAL_ERROR
        - INVALID_SCOPE_COMBINATION

    ErrorObject:
      type: object
      additionalProperties: false
      required: [code, message, request_id, details]
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
        display_message:
          type: string
        log_message:
          type: string
        request_id:
          type: string
          format: uuid
        details:
          type: object
          additionalProperties: true
          description: |
            Per-error context. Documented OpenAPI exception to the
            program-wide additionalProperties: false rule.

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
