openapi: 3.1.0
info:
  title: Aramo Platform Console API
  version: 0.0.0
  description: |
    The platform-owner console surface (`apps/platform-admin`, served under
    `/platform/*`). Increment-3 PR-3.2 gives the surface its written contract —
    the console is about to be a production surface (PR-3.3).

    Auth: every operation requires a platform session — a bearer JWT
    (`Authorization: Bearer …`) or the `aramo_access_token` cookie — whose
    `consumer_type` is `platform` AND which carries the per-operation
    `platform:*` scope. A tenant-tier token (consumer_type ∈ {recruiter, portal,
    ingestion}) is refused at every route with 403 `INSUFFICIENT_PERMISSIONS`
    (the DDR §13.1 tier tripwire, app-side); a platform token missing the
    required scope is refused at the scope guard, also 403.

    Error envelope: the nested `{ error: { code, message, details? } }` shape,
    with `code` drawn from the locked registry `ErrorCode` enum in
    `common.yaml` (never duplicated here — error-codes:check enforces enum
    parity against that file specifically).
servers:
  - url: https://admin.aramo.ai
  - url: http://localhost:3002
security:
  - BearerAuth: []
  - CookieAccessAuth: []
tags:
  - name: Platform Tenants
    description: |
      Tenant provisioning, read, and lifecycle management by the platform
      operator. Reads require `platform:tenant:read`; provisioning +
      owner-invitation require `platform:tenant:provision`; the four lifecycle
      transitions require `platform:tenant:lifecycle:manage` (provisioning power
      is deliberately separate from lifecycle power).
  - name: Platform Admins
    description: Platform-administrator invitation (the sentinel platform tenant).
  - name: Platform Skill Governance
    description: |
      SKILL-TAX-1F-B2 — the canonical skills-taxonomy administration surface and
      the AI-proposal ratification console. Reads require `platform:skill:read`;
      every mutation and every accept/reject decision requires
      `platform:skill:manage`. Every operation is platform-tier: a tenant-tier
      token is refused with 403 `INSUFFICIENT_PERMISSIONS` (DDR §13.1 tripwire).
      The taxonomy is platform-global — these routes carry NO tenant scoping and
      NO PII; the review queue is counts-only (never a tenant id in a response).

paths:
  /platform/dashboard:
    get:
      operationId: getPlatformDashboard
      tags: [Platform Tenants]
      summary: Operator dashboard summary.
      description: |
        The platform console's default screen: a single read-only aggregation
        over existing tenant and audit rows — no new event types, columns, or
        migration. Three sections:
          - `status_counts`: tenants per lifecycle status, zero-filled across the
            full status set (a status with no tenants still reports `0`). The
            SENTINEL platform tenant is EXCLUDED — it is infrastructure, not
            estate; the exclusion is by its fixed UUID (there is no flag/column
            for it).
          - `onboarding`: PROVISIONED tenants oldest-first (the "who is stuck"
            list), capped, each with its age anchor (`created_at`) and the
            audit-derived `invited` signal (whether a `tenant.owner_invite.sent`
            has ever been recorded — the not-yet-invited distinction).
          - `recent_activity`: the most recent `tenant.*` lifecycle events across
            ALL tenants, capped, with tenant names resolved and the reason code
            lifted from the event payload.
        Counts, ages, statuses, and events only — never a numeric rating of a
        tenant.

        Requires scope `platform:tenant:read`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      responses:
        '200':
          description: The dashboard summary envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformDashboardResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'

  /platform/tenants:
    get:
      operationId: listTenants
      tags: [Platform Tenants]
      summary: List all tenants (every status).
      description: |
        The platform-operator estate view: EVERY tenant in EVERY status
        (a suspended tenant is MORE visible to an operator, not less — this is
        the deliberate inverse of the membership-gated session-mint read).
        Optional exact `status` filter and `q` (case-insensitive contains on
        name or slug). Ordered `created_at` descending. The sentinel platform
        tenant appears like any row. No pagination yet (the `{ tenants: [...] }`
        envelope reserves room for it without a breaking change).

        Requires scope `platform:tenant:read`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - name: status
          in: query
          required: false
          description: Exact lifecycle status filter (one of the TenantStatus values).
          schema:
            $ref: '#/components/schemas/TenantStatus'
        - name: q
          in: query
          required: false
          description: Case-insensitive substring match on tenant name or slug.
          schema:
            type: string
      responses:
        '200':
          description: The tenant list envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformTenantListResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
    post:
      operationId: provisionTenant
      tags: [Platform Tenants]
      summary: Provision a tenant and invite its owner.
      description: |
        The existing provision-and-invite flow (the only provisioning path —
        create-without-invite is not offered here): mints the Tenant, seeds its
        entitlements, and invites the tenant owner via the Cognito Pattern-A
        temp-password email as the singular first act. The owner's non-personal
        email domain becomes the tenant's locked `allowed_domain`; a
        personal/disposable domain is refused BEFORE any Cognito side-effect.
        The new tenant lands in status `PROVISIONED`.

        Requires scope `platform:tenant:provision`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionTenantRequest'
      responses:
        '201':
          description: Tenant provisioned; owner invitation sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisionTenantResponse'
        '400':
          description: |
            `VALIDATION_ERROR` — request-body invariant violated, e.g. a
            personal/disposable owner email (`details.reason`
            `personal_email_not_allowed`) or a missing/short tenant name.
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '409':
          description: '`TENANT_ALREADY_EXISTS` — a tenant with this name already exists (case-insensitive).'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'
        '502':
          description: '`COGNITO_PROVISION_FAILED` — the Cognito AdminCreateUser call failed.'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'

  /platform/tenants/{tenant_id}:
    get:
      operationId: getTenant
      tags: [Platform Tenants]
      summary: Get a tenant's detail.
      description: |
        Single-tenant detail read (the identity `TenantDto` shape: id, name,
        status, home-realm identity_provider, is_active, timestamps).

        Requires scope `platform:tenant:read`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      responses:
        '200':
          description: The tenant detail envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetailResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/PlatformTenantNotFound'

  /platform/tenants/{tenant_id}/audit:
    get:
      operationId: getTenantAudit
      tags: [Platform Tenants]
      summary: Get a tenant's lifecycle audit timeline.
      description: |
        The tenant's `tenant.*` lifecycle audit events, newest-first, in a
        `{ events: [...] }` envelope. Unlike the tenant-self audit surface
        (which pins tenant_id from the JWT), the operator reads ANY tenant by
        URL id. The raw `event_payload` is surfaced (before→after/reason live
        there) for the FE timeline.

        Requires scope `platform:tenant:read`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      responses:
        '200':
          description: The audit event list envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformTenantAuditListResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/PlatformTenantNotFound'

  /platform/tenants/{tenant_id}/invitations:
    post:
      operationId: inviteUserIntoTenant
      tags: [Platform Tenants]
      summary: Invite a user into a tenant.
      description: |
        Invite a user into an existing tenant with one or more AUTHZ-1 tenant
        roles. Idempotency (Lead ruling 8): an existing user + existing
        membership with the same role set → 409 `INVITATION_ALREADY_EXISTS`; a
        different role set → the membership roles are reconciled (200-shaped
        `roles_updated`); no membership → a new membership (`membership_added`);
        drift (Cognito has the user, identity does not) → identity rows are
        written against the existing sub (`invitation_sent`). An invertible role
        union is refused (400 `VALIDATION_ERROR`, `details.reason`
        `invertible_role_union`).

        Requires scope `platform:tenant:provision`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '201':
          description: User invited / membership reconciled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponse'
        '400':
          description: |
            `VALIDATION_ERROR` — an unknown `role_key` (rejected at the DTO) or
            an invertible role union (`details.reason` `invertible_role_union`).
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '409':
          description: '`INVITATION_ALREADY_EXISTS` — the user already holds this membership with the same role set.'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'
        '502':
          description: '`COGNITO_PROVISION_FAILED` — the Cognito AdminCreateUser call failed.'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'

  /platform/tenants/{tenant_id}/resend-owner-invite:
    post:
      operationId: resendOwnerInvite
      tags: [Platform Tenants]
      summary: Send (or re-send) the tenant owner's invitation.
      description: |
        Sends the owner's Cognito Pattern-A invitation email
        (MessageAction=RESEND) — nothing is recreated (same Cognito user, same
        identity rows). This is also the send-when-ready path for a tenant
        provisioned with `invite_owner=false` (create-now-invite-later): RESEND
        delivers the first invitation and mints a fresh temporary password.
        Gated to status `PROVISIONED`: a PROVISIONED tenant's owner has not yet
        accepted (acceptance activates the tenant → ACTIVE), which is exactly the
        window Cognito RESEND is valid — so this refuses on any other status with
        422 `VALIDATION_ERROR` (`details.reason` `tenant_not_provisioned`). Emits
        `tenant.owner_invite.sent` with payload `reason` `first_send` (no prior
        send) or `resend` (a send already occurred).

        Requires scope `platform:tenant:provision`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      responses:
        '200':
          description: Owner invitation re-sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendOwnerInviteResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/PlatformTenantNotFound'
        '422':
          description: '`VALIDATION_ERROR` (`details.reason` `tenant_not_provisioned`) — the tenant is not in PROVISIONED status.'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'

  /platform/tenants/{tenant_id}/suspend:
    post:
      operationId: suspendTenant
      tags: [Platform Tenants]
      summary: Suspend a tenant (ACTIVE → SUSPENDED).
      description: |
        Suspends an ACTIVE tenant. Requires a `reasonCode` AND a `reasonText`
        (both non-empty). Refuses an illegal transition with 422
        `VALIDATION_ERROR` (`details.reason` `illegal_transition`) and emits
        `tenant.lifecycle_transition_rejected`; a request for the current status
        is an idempotent no-op (`changed: false`). New tenant sessions are then
        refused at the mint gate (`TENANT_SUSPENDED`).

        Requires scope `platform:tenant:lifecycle:manage`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendTenantRequest'
      responses:
        '200':
          $ref: '#/components/responses/LifecycleActionOk'
        '400':
          $ref: '#/components/responses/LifecycleReasonBadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/PlatformTenantNotFound'
        '422':
          $ref: '#/components/responses/IllegalTransition'

  /platform/tenants/{tenant_id}/reactivate:
    post:
      operationId: reactivateTenant
      tags: [Platform Tenants]
      summary: Reactivate a tenant (SUSPENDED → ACTIVE).
      description: |
        Reactivates a SUSPENDED tenant. Requires a `reasonCode`. Illegal
        transitions → 422 `VALIDATION_ERROR` (`illegal_transition`).

        Requires scope `platform:tenant:lifecycle:manage`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactivateTenantRequest'
      responses:
        '200':
          $ref: '#/components/responses/LifecycleActionOk'
        '400':
          $ref: '#/components/responses/LifecycleReasonBadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/PlatformTenantNotFound'
        '422':
          $ref: '#/components/responses/IllegalTransition'

  /platform/tenants/{tenant_id}/start-offboarding:
    post:
      operationId: startOffboarding
      tags: [Platform Tenants]
      summary: Start offboarding a tenant (ACTIVE/SUSPENDED → OFFBOARDING).
      description: |
        Moves a tenant to OFFBOARDING. Requires a `retentionPolicyCode` (an
        opaque string — NO retention policy semantics run; counsel-gated) AND a
        `closeAt` (ISO-8601 date-time, the retention clock anchor). Illegal
        transitions → 422 `VALIDATION_ERROR` (`illegal_transition`).

        Requires scope `platform:tenant:lifecycle:manage`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartOffboardingRequest'
      responses:
        '200':
          $ref: '#/components/responses/LifecycleActionOk'
        '400':
          description: |
            `VALIDATION_ERROR` — the DTO shape is invalid (missing/empty
            `retentionPolicyCode`, or `closeAt` not ISO-8601).
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/PlatformTenantNotFound'
        '422':
          $ref: '#/components/responses/IllegalTransition'

  /platform/tenants/{tenant_id}/close:
    post:
      operationId: closeTenant
      tags: [Platform Tenants]
      summary: Close a tenant (PROVISIONED/OFFBOARDING → CLOSED, terminal).
      description: |
        Closes a tenant (terminal). Requires a `reasonCode`. Illegal
        transitions → 422 `VALIDATION_ERROR` (`illegal_transition`). New tenant
        sessions are then refused at the mint gate (`TENANT_CLOSED`).

        Requires scope `platform:tenant:lifecycle:manage`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseTenantRequest'
      responses:
        '200':
          $ref: '#/components/responses/LifecycleActionOk'
        '400':
          $ref: '#/components/responses/LifecycleReasonBadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/PlatformTenantNotFound'
        '422':
          $ref: '#/components/responses/IllegalTransition'

  /platform/admins/invitations:
    post:
      operationId: invitePlatformAdmin
      tags: [Platform Admins]
      summary: Invite a platform administrator.
      description: |
        Invites another platform administrator against the PLATFORM Cognito
        pool; the invitee is bound to the sentinel platform tenant with the
        `super_admin` role. Idempotency mirrors the tenant-invite flow.

        Requires scope `platform:admin:invite`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvitePlatformAdminRequest'
      responses:
        '201':
          description: Platform administrator invited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponse'
        '400':
          description: '`VALIDATION_ERROR` — invalid email.'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '409':
          description: '`INVITATION_ALREADY_EXISTS` — the admin already holds a platform membership.'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'
        '502':
          description: '`COGNITO_PROVISION_FAILED` — the Cognito AdminCreateUser call failed.'
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/ErrorResponse'

  # ---- SKILL-TAX-1F-B2 — Platform Skill Governance ------------------------
  /platform/skills:
    get:
      operationId: listPlatformSkills
      tags: [Platform Skill Governance]
      summary: List canonical skills.
      description: 'Platform-global canonical Skill registry (active by default). Requires `platform:skill:read`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - name: include_inactive
          in: query
          required: false
          description: When `true`, also return inactive (deactivated / merged-away) skills.
          schema:
            type: string
            enum: ['true', 'false']
      responses:
        '200':
          description: The canonical skill list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillListResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
    post:
      operationId: createPlatformSkill
      tags: [Platform Skill Governance]
      summary: Create a canonical skill.
      description: 'Mint a canonical Skill (normalized_name uniqueness enforced). Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSkillRequest'
      responses:
        '201':
          description: The created skill.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillView'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '409':
          $ref: '#/components/responses/SkillConflict'

  /platform/skills/{id}:
    get:
      operationId: getPlatformSkill
      tags: [Platform Skill Governance]
      summary: Read one canonical skill.
      description: 'The skill-detail overview read. Requires `platform:skill:read`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      responses:
        '200':
          description: The canonical skill.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'
    patch:
      operationId: updatePlatformSkill
      tags: [Platform Skill Governance]
      summary: Update a canonical skill's name/description.
      description: 'A canonical_name change re-derives normalized_name and enqueues an OVERRIDE_CORRECTION. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSkillRequest'
      responses:
        '200':
          description: The updated skill.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillView'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'
        '409':
          $ref: '#/components/responses/SkillConflict'

  /platform/skills/{id}/deactivate:
    post:
      operationId: deactivatePlatformSkill
      tags: [Platform Skill Governance]
      summary: Deactivate a canonical skill.
      description: 'Sets status inactive + enqueues an OVERRIDE_CORRECTION. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      responses:
        '200':
          description: The deactivated skill.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skills/{id}/reactivate:
    post:
      operationId: reactivatePlatformSkill
      tags: [Platform Skill Governance]
      summary: Reactivate a canonical skill.
      description: 'Sets status active (modeled as SKILL_UPDATED) + enqueues an OVERRIDE_CORRECTION. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      responses:
        '200':
          description: The reactivated skill.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skills/{loserId}/merge:
    post:
      operationId: mergePlatformSkill
      tags: [Platform Skill Governance]
      summary: Soft-merge a duplicate skill into a winner.
      description: |
        SOFT merge — the loser keeps its id, goes inactive, and points at the
        winner (`merged_into_skill_id`); a durable SKILL_MERGE correction task is
        enqueued for the B1 engine to repoint downstream references. Requires
        `platform:skill:manage`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - name: loserId
          in: path
          required: true
          description: The UUID of the skill being merged away (the loser).
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeSkillRequest'
      responses:
        '200':
          description: The (now inactive) loser skill.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillView'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skills/{id}/override:
    post:
      operationId: overridePlatformSkill
      tags: [Platform Skill Governance]
      summary: Record a canonicalization override/correction.
      description: |
        Records a CANONICALIZATION_OVERRIDDEN audit event + an OVERRIDE_CORRECTION
        durable task keyed by this skill (and, when supplied, a governed
        `surface_form`). Requires `platform:skill:manage`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OverrideSkillRequest'
      responses:
        '200':
          description: Override recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillOkResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skills/{id}/aliases:
    get:
      operationId: listPlatformSkillAliases
      tags: [Platform Skill Governance]
      summary: List a skill's aliases.
      description: 'Active aliases by default; `include_inactive=true` also returns soft-removed ones. Requires `platform:skill:read`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
        - name: include_inactive
          in: query
          required: false
          description: When `true`, also return soft-removed (inactive) aliases.
          schema:
            type: string
            enum: ['true', 'false']
      responses:
        '200':
          description: The skill's aliases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasListResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
    post:
      operationId: addPlatformSkillAlias
      tags: [Platform Skill Governance]
      summary: Add a governed alias to a skill.
      description: 'Adds an alias (normalized_alias uniqueness enforced) + enqueues an ALIAS_CORRECTION. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAliasRequest'
      responses:
        '201':
          description: The created alias.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasView'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'
        '409':
          $ref: '#/components/responses/SkillConflict'

  /platform/skills/{id}/aliases/{aliasId}:
    delete:
      operationId: removePlatformSkillAlias
      tags: [Platform Skill Governance]
      summary: Soft-remove an alias.
      description: 'A SOFT status flip (never a delete) + enqueues an ALIAS_CORRECTION. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
        - name: aliasId
          in: path
          required: true
          description: The alias UUID.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The (now inactive) alias.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skills/{id}/versions:
    get:
      operationId: listPlatformSkillVersions
      tags: [Platform Skill Governance]
      summary: List a skill's versions.
      description: 'Requires `platform:skill:read`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      responses:
        '200':
          description: The skill's versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionListResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
    post:
      operationId: addPlatformSkillVersion
      tags: [Platform Skill Governance]
      summary: Add a governed version to a skill.
      description: 'Adds a version ((skill_id, normalized_version) unique) + enqueues an OVERRIDE_CORRECTION. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVersionRequest'
      responses:
        '201':
          description: The created version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionView'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'
        '409':
          $ref: '#/components/responses/SkillConflict'

  /platform/skills/{id}/versions/{versionId}:
    patch:
      operationId: updatePlatformSkillVersion
      tags: [Platform Skill Governance]
      summary: Update a version's family/status.
      description: 'Updates version_family/status + enqueues an OVERRIDE_CORRECTION. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
        - name: versionId
          in: path
          required: true
          description: The version UUID.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVersionRequest'
      responses:
        '200':
          description: The updated version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skills/{id}/relationships:
    get:
      operationId: listPlatformSkillRelationships
      tags: [Platform Skill Governance]
      summary: List a skill's active relationship edges.
      description: 'Active canonical-to-canonical edges touching this skill (either orientation). Requires `platform:skill:read`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      responses:
        '200':
          description: The skill's relationship edges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipListResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
    post:
      operationId: addPlatformSkillRelationship
      tags: [Platform Skill Governance]
      summary: Add a canonical-to-canonical relationship edge.
      description: 'Adds a governed relationship edge (taxonomy intelligence; emits NO correction task). Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRelationshipRequest'
      responses:
        '201':
          description: The created relationship edge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipView'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'
        '409':
          $ref: '#/components/responses/SkillConflict'

  /platform/skills/{id}/relationships/{relationshipId}:
    delete:
      operationId: removePlatformSkillRelationship
      tags: [Platform Skill Governance]
      summary: Soft-remove a relationship edge.
      description: 'A SOFT status flip (never a delete). Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/SkillIdParam'
        - name: relationshipId
          in: path
          required: true
          description: The relationship edge UUID.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The (now inactive) relationship edge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skill-review-queue:
    get:
      operationId: listPlatformSkillReviewQueue
      tags: [Platform Skill Governance]
      summary: The unresolved-surface governance work queue (counts-only).
      description: |
        UNRESOLVED surface forms across the Talent + requisition domains, merged by
        the authoritative normalized form. Each row is counts-only
        (`occurrence_count`, exact cross-domain `tenant_count`) — NEVER a tenant id.
        Live keyset pagination (order `occurrence_count DESC, surface_form ASC`); the
        opaque `next_cursor` pins the filter set. Requires `platform:skill:read`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - name: source_domain
          in: query
          required: false
          description: Restrict to one L3 domain; omit for both.
          schema:
            type: string
            enum: [talent, requisition]
        - name: min_occurrence
          in: query
          required: false
          description: Only surfaces whose merged occurrence_count is at least this.
          schema:
            type: integer
            minimum: 0
        - name: surface_search
          in: query
          required: false
          description: Case-insensitive substring pre-filter on the surface form.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Page size (default 50, max 200).
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: cursor
          in: query
          required: false
          description: Opaque continuation cursor from a prior page's next_cursor.
          schema:
            type: string
      responses:
        '200':
          description: A page of review-queue rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewQueueResponse'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'

  /platform/skill-proposals:
    get:
      operationId: listPlatformSkillProposals
      tags: [Platform Skill Governance]
      summary: List AI skill-governance proposals.
      description: 'Newest-first; optional status filter. Requires `platform:skill:read`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ProposalStatus'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        '200':
          description: The proposal list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalListResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
    post:
      operationId: createPlatformSkillProposal
      tags: [Platform Skill Governance]
      summary: Create an AI skill-governance proposal (PENDING only).
      description: 'Creates a PENDING proposal — ZERO canonical mutation until accepted. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProposalRequest'
      responses:
        '201':
          description: The created PENDING proposal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalView'
        '400':
          $ref: '#/components/responses/SkillValidation'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'

  /platform/skill-proposals/{id}:
    get:
      operationId: getPlatformSkillProposal
      tags: [Platform Skill Governance]
      summary: Read one proposal.
      description: 'Requires `platform:skill:read`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/ProposalIdParam'
      responses:
        '200':
          description: The proposal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'

  /platform/skill-proposals/{id}/accept:
    post:
      operationId: acceptPlatformSkillProposal
      tags: [Platform Skill Governance]
      summary: Accept a PENDING proposal (applies the canonical write).
      description: |
        One atomic taxonomy transaction: reuses the canonical registry write
        primitive to materialize the alias/relationship, then marks the proposal
        ACCEPTED with `applied_entity_id`. A non-PENDING proposal is refused 409
        (`SKILL_PROPOSAL_NOT_PENDING`) and mutates nothing. Requires
        `platform:skill:manage`.
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/ProposalIdParam'
      responses:
        '200':
          description: The ACCEPTED proposal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'
        '409':
          $ref: '#/components/responses/SkillProposalNotPending'
        '422':
          $ref: '#/components/responses/SkillProposalPayloadInvalid'

  /platform/skill-proposals/{id}/reject:
    post:
      operationId: rejectPlatformSkillProposal
      tags: [Platform Skill Governance]
      summary: Reject a PENDING proposal (terminal).
      description: 'Terminal REJECTED transition (CAS on PENDING). A non-PENDING proposal is refused 409. Requires `platform:skill:manage`.'
      security:
        - BearerAuth: []
        - CookieAccessAuth: []
      parameters:
        - $ref: '#/components/parameters/ProposalIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectProposalRequest'
      responses:
        '200':
          description: The REJECTED proposal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalView'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/PlatformForbidden'
        '404':
          $ref: '#/components/responses/SkillNotFound'
        '409':
          $ref: '#/components/responses/SkillProposalNotPending'

components:
  securitySchemes:
    # Duplicated byte-for-byte from openapi/common.yaml per locked invariant 4
    # (duplicate-not-$ref — no cross-document $ref for securitySchemes). If you
    # change either definition, change both together and keep them identical.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    CookieAccessAuth:
      type: apiKey
      in: cookie
      name: aramo_access_token

  parameters:
    TenantIdParam:
      name: tenant_id
      in: path
      required: true
      description: The tenant's UUID.
      schema:
        type: string
        format: uuid
    SkillIdParam:
      name: id
      in: path
      required: true
      description: The canonical Skill UUID.
      schema:
        type: string
        format: uuid
    ProposalIdParam:
      name: id
      in: path
      required: true
      description: The SkillGovernanceProposal UUID.
      schema:
        type: string
        format: uuid

  responses:
    # 403 for every platform route: a tenant-tier token (consumer_type ≠
    # platform) or a platform token missing the operation's scope.
    PlatformForbidden:
      description: |
        `INSUFFICIENT_PERMISSIONS` — the token is not a platform-tier token
        (consumer_type ≠ platform, the DDR §13.1 tripwire) or lacks the
        operation's required `platform:*` scope.
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    PlatformTenantNotFound:
      description: '`NOT_FOUND` — no tenant with this id.'
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    LifecycleActionOk:
      description: The transition result (idempotent no-op when already in the target status).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TenantLifecycleActionResponse'
    LifecycleReasonBadRequest:
      description: |
        `VALIDATION_ERROR` — the DTO shape is invalid (a required non-empty
        `reasonCode`/`reasonText` is missing or empty).
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    IllegalTransition:
      description: |
        `VALIDATION_ERROR` (`details.reason` `illegal_transition`) — the
        requested transition is not legal from the tenant's current status; or a
        reason requirement was unmet (`reason_code_required` /
        `reason_text_required` / `retention_policy_code_required` /
        `close_at_required`).
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    SkillValidation:
      description: '`VALIDATION_ERROR` — a request-shape or lifecycle invariant was violated.'
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    SkillNotFound:
      description: '`NOT_FOUND` — no such skill / alias / version / relationship / proposal.'
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    SkillConflict:
      description: |
        `SKILL_CONFLICT` — a governed canonical write refused on a uniqueness
        constraint (`details.constraint` discriminates normalized_name /
        canonical_name / normalized_alias / normalized_version / source_target_type).
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    SkillProposalNotPending:
      description: '`SKILL_PROPOSAL_NOT_PENDING` — accept/reject addressed a non-PENDING (terminal) proposal.'
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'
    SkillProposalPayloadInvalid:
      description: '`SKILL_PROPOSAL_PAYLOAD_INVALID` — the accepted proposal payload is not a valid spec for its type.'
      content:
        application/json:
          schema:
            $ref: 'common.yaml#/components/schemas/ErrorResponse'

  schemas:
    TenantStatus:
      type: string
      description: The tenant lifecycle status (enforced in app code, not a DB enum).
      enum:
        - PROVISIONED
        - ACTIVE
        - SUSPENDED
        - OFFBOARDING
        - CLOSED

    ProvisionTenantRequest:
      type: object
      additionalProperties: false
      required: [name, owner_email]
      properties:
        name:
          type: string
          minLength: 2
          description: The tenant (workspace) name; unique case-insensitively.
        owner_email:
          type: string
          format: email
          description: The owner's business email; its domain becomes the tenant's locked allowed_domain.
        owner_display_name:
          type: string
          description: Optional owner display name (Cognito 'name' + identity display_name).
        capabilities:
          type: array
          items:
            type: string
          description: Optional capability set; defaults to {core, ats, portal} when omitted/empty.
        invite_owner:
          type: boolean
          default: true
          description: >-
            Send the owner's invitation email now (default true — provision-and-invite).
            When false, create-now-invite-later: the owner's Cognito user is created
            suppressed (no email) and the tenant still lands PROVISIONED; the operator
            sends the invite when ready via POST .../resend-owner-invite. Omitting the
            field preserves the pre-3.4 behavior exactly.

    ProvisionTenantResponse:
      type: object
      additionalProperties: false
      required: [tenant_id, tenant_name, owner_user_id, owner_email, membership_id, capabilities, invitation_sent]
      properties:
        tenant_id:
          type: string
          format: uuid
        tenant_name:
          type: string
        owner_user_id:
          type: string
          format: uuid
        owner_email:
          type: string
          format: email
        membership_id:
          type: string
          format: uuid
        capabilities:
          type: array
          items:
            type: string
        invitation_sent:
          type: boolean
          description: >-
            Whether the owner's invitation email was sent during provisioning
            (true when invite_owner is omitted/true; false on the
            create-now-invite-later path).

    PlatformTenantSummary:
      type: object
      additionalProperties: false
      required: [id, name, slug, status, status_reason_code, status_changed_at, is_active, created_at, activated_at, suspended_at]
      description: The operator list-row shape (lifecycle-triage columns; capability summary lives on the detail read).
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          oneOf:
            - type: string
            - type: 'null'
        status:
          $ref: '#/components/schemas/TenantStatus'
        status_reason_code:
          oneOf:
            - type: string
            - type: 'null'
        status_changed_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        activated_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'
        suspended_at:
          oneOf:
            - type: string
              format: date-time
            - type: 'null'

    PlatformTenantListResponse:
      type: object
      additionalProperties: false
      required: [tenants]
      properties:
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/PlatformTenantSummary'

    TenantDetail:
      type: object
      additionalProperties: false
      required: [id, name, is_active, created_at, updated_at, identity_provider, status]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        identity_provider:
          oneOf:
            - type: string
            - type: 'null'
          description: The tenant's pinned Cognito Home-Realm identity_provider, or null (chooser).
        status:
          $ref: '#/components/schemas/TenantStatus'

    TenantDetailResponse:
      type: object
      additionalProperties: false
      required: [tenant]
      properties:
        tenant:
          $ref: '#/components/schemas/TenantDetail'

    PlatformTenantAuditEvent:
      type: object
      additionalProperties: false
      required: [event_type, created_at, actor_type, actor_id, event_payload]
      properties:
        event_type:
          type: string
          description: The tenant.* lifecycle event type.
        created_at:
          type: string
          format: date-time
        actor_type:
          type: string
        actor_id:
          oneOf:
            - type: string
            - type: 'null'
        event_payload:
          type: object
          additionalProperties: true
          description: The raw event payload (before/after status + reason).

    PlatformTenantAuditListResponse:
      type: object
      additionalProperties: false
      required: [events]
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/PlatformTenantAuditEvent'

    PlatformDashboardStatusCount:
      type: object
      additionalProperties: false
      required: [status, count]
      description: A lifecycle status and how many (non-sentinel) tenants hold it.
      properties:
        status:
          $ref: '#/components/schemas/TenantStatus'
        count:
          type: integer
          minimum: 0

    PlatformDashboardOnboardingRow:
      type: object
      additionalProperties: false
      required: [tenant_id, name, created_at, invited]
      description: A PROVISIONED tenant in the onboarding funnel (aged, oldest-first).
      properties:
        tenant_id:
          type: string
          format: uuid
        name:
          type: string
        created_at:
          type: string
          format: date-time
        invited:
          type: boolean
          description: Audit-derived — whether a `tenant.owner_invite.sent` has ever been recorded (false = not yet invited).

    PlatformDashboardActivityRow:
      type: object
      additionalProperties: false
      required: [event_type, tenant_id, tenant_name, actor_type, reason_code, created_at]
      description: A recent tenant.* lifecycle event across the estate.
      properties:
        event_type:
          type: string
        tenant_id:
          oneOf:
            - type: string
              format: uuid
            - type: 'null'
        tenant_name:
          oneOf:
            - type: string
            - type: 'null'
          description: Resolved tenant display name, or null if the tenant row is gone.
        actor_type:
          type: string
        reason_code:
          oneOf:
            - type: string
            - type: 'null'
          description: Reason code lifted from the event payload, or null when absent.
        created_at:
          type: string
          format: date-time

    PlatformDashboardResponse:
      type: object
      additionalProperties: false
      required: [status_counts, onboarding, recent_activity]
      description: |
        The operator dashboard summary. Counts / ages / statuses / events only
        (R10) — no numeric rating of any tenant. The sentinel platform tenant is
        excluded from `status_counts` (by its fixed UUID).
      properties:
        status_counts:
          type: array
          items:
            $ref: '#/components/schemas/PlatformDashboardStatusCount'
        onboarding:
          type: array
          items:
            $ref: '#/components/schemas/PlatformDashboardOnboardingRow'
        recent_activity:
          type: array
          items:
            $ref: '#/components/schemas/PlatformDashboardActivityRow'

    InviteUserRequest:
      type: object
      additionalProperties: false
      required: [email, role_keys]
      properties:
        email:
          type: string
          format: email
        role_keys:
          type: array
          minItems: 1
          items:
            type: string
          description: One or more AUTHZ-1 tenant role keys (constrained to the seed role catalog).
        display_name:
          type: string

    InviteUserResponse:
      type: object
      additionalProperties: false
      required: [tenant_id, user_id, membership_id, role_keys, status]
      properties:
        tenant_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        membership_id:
          type: string
          format: uuid
        role_keys:
          type: array
          items:
            type: string
        status:
          type: string
          enum:
            - invitation_sent
            - roles_updated
            - membership_added

    ResendOwnerInviteResponse:
      type: object
      additionalProperties: false
      required: [tenant_id, owner_user_id, owner_email, resent]
      properties:
        tenant_id:
          type: string
          format: uuid
        owner_user_id:
          type: string
          format: uuid
        owner_email:
          type: string
          format: email
        resent:
          type: boolean
          const: true

    SuspendTenantRequest:
      type: object
      additionalProperties: false
      required: [reasonCode, reasonText]
      properties:
        reasonCode:
          type: string
          minLength: 1
        reasonText:
          type: string
          minLength: 1

    ReactivateTenantRequest:
      type: object
      additionalProperties: false
      required: [reasonCode]
      properties:
        reasonCode:
          type: string
          minLength: 1

    StartOffboardingRequest:
      type: object
      additionalProperties: false
      required: [retentionPolicyCode, closeAt]
      properties:
        retentionPolicyCode:
          type: string
          minLength: 1
          description: Opaque retention-policy string; NO policy semantics run (counsel-gated).
        closeAt:
          type: string
          format: date-time
          description: ISO-8601 effective close date (the retention clock anchor).
        reasonCode:
          type: string
        reasonText:
          type: string

    CloseTenantRequest:
      type: object
      additionalProperties: false
      required: [reasonCode]
      properties:
        reasonCode:
          type: string
          minLength: 1
        reasonText:
          type: string

    TenantLifecycleActionResponse:
      type: object
      additionalProperties: false
      required: [tenant_id, from, to, status, changed]
      properties:
        tenant_id:
          type: string
          format: uuid
        from:
          $ref: '#/components/schemas/TenantStatus'
        to:
          $ref: '#/components/schemas/TenantStatus'
        status:
          $ref: '#/components/schemas/TenantStatus'
        changed:
          type: boolean
          description: false when the request was an idempotent no-op (already in the target status).

    InvitePlatformAdminRequest:
      type: object
      additionalProperties: false
      required: [email]
      properties:
        email:
          type: string
          format: email
        display_name:
          type: string

    # ---- SKILL-TAX-1F-B2 — Platform Skill Governance schemas --------------
    SkillStatus:
      type: string
      enum: [active, inactive]
    ProposalType:
      type: string
      enum: [ALIAS, RELATIONSHIP]
    ProposalSource:
      type: string
      enum: [AI_RECOMMENDED]
    ProposalStatus:
      type: string
      enum: [PENDING, ACCEPTED, REJECTED]
    SkillAliasType:
      type: string
      enum: [ABBREVIATION, COMMON_NAME, LEGACY_NAME, VENDOR_VARIANT, SPELLING_VARIANT]
    SkillRelationshipType:
      type: string
      enum: [RELATED_TO, COMPATIBLE_WITH, PARENT_OF, BUILT_ON, REQUIRES, SUPERSEDES]
    SkillRelationshipSource:
      type: string
      enum: [VENDOR_DOC, ADMIN_CURATED, IMPORTED_TAXONOMY, AI_RECOMMENDED]

    SkillView:
      type: object
      additionalProperties: false
      required: [id, canonical_name, normalized_name, description, status, merged_into_skill_id, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        canonical_name:
          type: string
        normalized_name:
          type: string
        description:
          type: [string, 'null']
        status:
          $ref: '#/components/schemas/SkillStatus'
        merged_into_skill_id:
          type: [string, 'null']
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SkillListResponse:
      type: object
      additionalProperties: false
      required: [skills]
      properties:
        skills:
          type: array
          items:
            $ref: '#/components/schemas/SkillView'
    CreateSkillRequest:
      type: object
      additionalProperties: false
      required: [canonical_name]
      properties:
        canonical_name:
          type: string
          maxLength: 200
        description:
          type: [string, 'null']
          maxLength: 2000
    UpdateSkillRequest:
      type: object
      additionalProperties: false
      properties:
        canonical_name:
          type: string
          maxLength: 200
        description:
          type: [string, 'null']
          maxLength: 2000
    MergeSkillRequest:
      type: object
      additionalProperties: false
      required: [winner_skill_id]
      properties:
        winner_skill_id:
          type: string
          format: uuid
    OverrideSkillRequest:
      type: object
      additionalProperties: false
      properties:
        surface_form:
          type: [string, 'null']
          maxLength: 200
        reason:
          type: [string, 'null']
          maxLength: 2000
    SkillOkResponse:
      type: object
      additionalProperties: false
      required: [ok]
      properties:
        ok:
          type: boolean
          enum: [true]

    AliasView:
      type: object
      additionalProperties: false
      required: [id, skill_id, alias, normalized_alias, alias_type, status]
      properties:
        id:
          type: string
          format: uuid
        skill_id:
          type: string
          format: uuid
        alias:
          type: string
        normalized_alias:
          type: string
        alias_type:
          $ref: '#/components/schemas/SkillAliasType'
        status:
          $ref: '#/components/schemas/SkillStatus'
    AliasListResponse:
      type: object
      additionalProperties: false
      required: [aliases]
      properties:
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/AliasView'
    AddAliasRequest:
      type: object
      additionalProperties: false
      required: [alias, alias_type]
      properties:
        alias:
          type: string
          maxLength: 200
        alias_type:
          $ref: '#/components/schemas/SkillAliasType'

    VersionView:
      type: object
      additionalProperties: false
      required: [id, skill_id, version, normalized_version, version_family, status]
      properties:
        id:
          type: string
          format: uuid
        skill_id:
          type: string
          format: uuid
        version:
          type: string
        normalized_version:
          type: string
        version_family:
          type: [string, 'null']
        status:
          $ref: '#/components/schemas/SkillStatus'
    VersionListResponse:
      type: object
      additionalProperties: false
      required: [versions]
      properties:
        versions:
          type: array
          items:
            $ref: '#/components/schemas/VersionView'
    AddVersionRequest:
      type: object
      additionalProperties: false
      required: [version]
      properties:
        version:
          type: string
          maxLength: 100
        version_family:
          type: [string, 'null']
          maxLength: 100
    UpdateVersionRequest:
      type: object
      additionalProperties: false
      properties:
        version_family:
          type: [string, 'null']
          maxLength: 100
        status:
          $ref: '#/components/schemas/SkillStatus'

    RelationshipView:
      type: object
      additionalProperties: false
      required: [id, source_skill_id, target_skill_id, relationship_type, directionality, status, source, source_ref]
      properties:
        id:
          type: string
          format: uuid
        source_skill_id:
          type: string
          format: uuid
        target_skill_id:
          type: string
          format: uuid
        relationship_type:
          $ref: '#/components/schemas/SkillRelationshipType'
        directionality:
          type: string
          enum: [DIRECTED, SYMMETRIC]
        status:
          $ref: '#/components/schemas/SkillStatus'
        source:
          $ref: '#/components/schemas/SkillRelationshipSource'
        source_ref:
          type: [string, 'null']
    RelationshipListResponse:
      type: object
      additionalProperties: false
      required: [relationships]
      properties:
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/RelationshipView'
    AddRelationshipRequest:
      type: object
      additionalProperties: false
      required: [target_skill_id, relationship_type, source]
      properties:
        target_skill_id:
          type: string
          format: uuid
        relationship_type:
          $ref: '#/components/schemas/SkillRelationshipType'
        source:
          $ref: '#/components/schemas/SkillRelationshipSource'
        source_ref:
          type: [string, 'null']
          maxLength: 500

    ReviewQueueRow:
      type: object
      additionalProperties: false
      required: [surface_form, occurrence_count, tenant_count]
      description: A counts-only unresolved-surface row — NEVER carries a tenant id.
      properties:
        surface_form:
          type: string
          description: The authoritative normalized surface form (the merge + ordering key).
        occurrence_count:
          type: integer
        tenant_count:
          type: integer
          description: Exact distinct tenants across the in-scope domains (ids discarded).
    ReviewQueueResponse:
      type: object
      additionalProperties: false
      required: [rows, next_cursor]
      properties:
        rows:
          type: array
          items:
            $ref: '#/components/schemas/ReviewQueueRow'
        next_cursor:
          type: [string, 'null']
          description: Opaque continuation cursor, or null on the last page.

    ProposalView:
      type: object
      additionalProperties: false
      required: [id, proposal_type, source, status, payload, proposed_by, proposed_at, decided_by, decided_at, decision_reason, applied_entity_id]
      properties:
        id:
          type: string
          format: uuid
        proposal_type:
          $ref: '#/components/schemas/ProposalType'
        source:
          $ref: '#/components/schemas/ProposalSource'
        status:
          $ref: '#/components/schemas/ProposalStatus'
        payload:
          type: object
          additionalProperties: true
          description: The proposed spec (validated for the type at accept time).
        proposed_by:
          type: [string, 'null']
          format: uuid
        proposed_at:
          type: string
          format: date-time
        decided_by:
          type: [string, 'null']
          format: uuid
        decided_at:
          type: [string, 'null']
          format: date-time
        decision_reason:
          type: [string, 'null']
        applied_entity_id:
          type: [string, 'null']
          format: uuid
    ProposalListResponse:
      type: object
      additionalProperties: false
      required: [proposals]
      properties:
        proposals:
          type: array
          items:
            $ref: '#/components/schemas/ProposalView'
    CreateProposalRequest:
      type: object
      additionalProperties: false
      required: [proposal_type, source, payload]
      properties:
        proposal_type:
          $ref: '#/components/schemas/ProposalType'
        source:
          $ref: '#/components/schemas/ProposalSource'
        payload:
          type: object
          additionalProperties: true
    RejectProposalRequest:
      type: object
      additionalProperties: false
      properties:
        reason:
          type: [string, 'null']
          maxLength: 2000
